// font setup

$fnt-debug: false;
$fnt-base-size: 16px !default;
$rem-base: $fnt-base-size ;

// headlines

$fnt-headline: $ff-proxima-nova;
$fnt-headline-size: 40px;
$fnt-headline-weight: 100;
$fnt-headline-line: 1.2em;

$fnt-headline: $ff-proxima-nova;
$fnt-headline-size: 40px;
$fnt-headline-weight: 100;
$fnt-headline-line: 1.2em;

// subheds

$fnt-subhed: $ff-source-sans-pro;
$fnt-subhed-size: 24px;
$fnt-subhed-weight: 400;
$fnt-subhed-line: 1.4em;

// ui, navbars, fonts

$fnt-ui: $ff-proxima-nova;
$fnt-ui-size: 24px;
$fnt-ui-weight: 400;
$fnt-ui-line: 1.4em;

// body copy, text

$fnt-body: $ff-proxima-nova;
$fnt-body-size: $fnt-base-size;
$fnt-body-weight: 400;
$fnt-body-line: 1.4em;


// mixins

@mixin font-debug($id) {
    @if $fnt-debug {
        &:after {
            display: block;
            width: 16px;
            height: 16px;
            position: absolute;
            content: "#{$id}";
            background-color: red;
            color: white;
            font-size: 10px;
            line-height: 16px;
            text-align: center;
            font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
            font-weight: 600;
        }
    }
}

@mixin font-headline() {
    @include tk-nexa-thin();
    @include font-debug("H");
}

@mixin font-headline-secondary() {
    @include tk-proxima-nova-light();
    @include font-debug("H2");
}

@mixin font-subhed() {
    @include tk-source-sans-pro-bold();
    //@include tk-source-sans-pro-bold();
    @include font-debug("S");
}

@mixin font-subhed-secondary() {
    @include tk-source-sans-pro-bold();
    @include font-debug("S2");
}

@mixin font-ui() {
    @include tk-proxima-nova-reg();
    @include font-debug("U");
}

@mixin font-ui-secondary() {
    @include tk-proxima-nova-reg();
    @include font-debug("U2");
}

@mixin font-body() {
    //@include tk-nexa-reg();
    @include tk-proxima-nova-reg();
    @include font-debug("B");
}

// setup and reset font units


