<div id="dance" class="l-feed mm-four" keep-height layout-dancer>
    {% for i in 0..4 %}
        <div class="l-single">
            {% include "subtemplates/base-item.twig" with {'contentType': 'm-story', 'class': 'm-card_image'} %}
            {#{% include "subtemplates/base-properties.twig" with {'contentType': 'm-story', 'class': 'm-card_standard'} %}#}
        </div>
    {% endfor %}
    <div class="l-double">
        {% include "subtemplates/base-properties.twig" %}
    </div>
    <div class="l-single">
        {% include "subtemplates/base-item.twig" with {'contentType': 'm-story', 'class': 'm-card_standard'} %}
        {#{% include "subtemplates/base-properties.twig" with {'contentType': 'm-story', 'class': 'm-card_standard'} %}#}
    </div>
</div>
