
{# default image #}
{% set defaultImage = '/assets/images/test-image.jpg' %}
{% if imageUrl is defined %}
    {% set image = imageUrl %}
{% else %}
    {% set image = defaultImage %}
{% endif %}

<article class="{{ contentType }} {{ class }}">
    <header class="m-item--header">
        <div class="m-item--image" style="background-image: url({{ image }})">
            <a href="/"><img src="{{ image }}" alt="" /></a>
        </div>
        <div class="m-item--header-content">

            <div class="m-item--summary">
                <h1 class="m-item--hed"><a href="">Morbi vulputate ac quam quis feugiat.</a></h1>

                <div class="m-item--description">
                    <p>amet ultricies hendrerit.Morbi vulputate ac quam quis feugiat. Mauris dapibus dictum ex, at sodales mauris rutrum vel. Suspendisse vestibulum enim sit
                        <span class="color-body-font">[2012]</span>
                    </p>
                </div>

            </div>
            <div class="m-item--meta">
                <span>Modulární výstavba ve světě /</span> <span class="colored">21. 08. 2012</span>
            </div>
        </div>
    </header>
    <div class="m-item--more"><a href="" title=""><i class="fa fa-arrow-right"></i></a></div>
</article>
