<article class="{{ contentType }} {{ class }}" >
    <header>
        <div class="m-item--image" style="background-image: url(http://lorempixel.com/900/600)">
            <a href="">
                <img src="http://lorempixel.com/400/600" alt="" />
            </a>
        </div>

        <div class="m-item--summary">
            <h1 class="m-item--hed"><a href="">titulek titulek</a></h1>

            <div class="m-item--description">
                <p>Morbi vulputate ac quam quis feugiat. Mauris dapibus dictum ex, at sodales mauris rutrum vel. Suspendisse vestibulum enim sit amet ultricies hendrerit.
                    <span class="color-body-font">[2012]</span>
                </p>
            </div>
            <div class="m-item--meta">
                <span>Modulární výstavba ve světě /</span> <span class="colored">21. 08. 2012</span>
            </div>
        </div>
    </header>
    <div class="m-item--more"><i class="fa fa-arrow-right"></i></div>
</article>
