<ul class="m-offcanvas--menu">

    <li class="m-offcanvas--menu-link">
        <a href="/?tpl=detail-story-onecol" title=""><em class="">Detail 1COL</em></a>
    </li>
    <li class="m-offcanvas--menu-link">
        <a href="/?tpl=detail-story-full" title=""><em class="">Detail 1COL Full</em></a>
    </li>
    <li class="m-offcanvas--menu-link">
        <a href="/?tpl=detail-story-twocol" title=""><em class="">Detail 2COL</em></a>
    </li>

</ul>

<ul class="m-offcanvas--menu mm-secondary">

    <li class="m-offcanvas--menu-link">
        <a href="/?tpl=detail-story-onecol" title=""><em class="">Detail 1COL</em></a>
    </li>
    <li class="m-offcanvas--menu-link">
        <a href="/?tpl=detail-story-full" title=""><em class="">Detail 1COL Full</em></a>
    </li>
    <li class="m-offcanvas--menu-link">
        <a href="/?tpl=detail-story-twocol" title=""><em class="">Detail 2COL</em></a>
    </li>

</ul>
