<div class="m-section bg-primary">
    <div class="m-section--close" close-section>&times;</div>
    <article class="m-banner">
        <header>
            <div class="m-banner--image" style="background-image: url(http://lorempixel.com/300/300)">
                <a href="">
                    <img src="http://lorempixel.com/300/300" alt="" />
                </a>
            </div>
            <div class="m-banner--summary">
                <h1 class="m-banner--hed">
                    Obytné kontejnery si můžete vybrat podle sebe,<a href=""> žádné vaše přání není nerealizovatelné.</a>
                </h1>
            </div>
        </header>
    </article>
</div>
