<div class="l-full">
    <div class="m-carousel" slick-full>
        {% for s in 1..6 %}
            <div class="l-single slide">
                {% include 'subtemplates/base-item.twig' with {'contentType': 'm-story', 'class': 'm-card_image'} %}
            </div>
        {% endfor %}
    </div>
</div>
