


    <div class="m-body--content {{ class }}">
        <div class="m-body--copy">

            <p>
                <span>Material Design shadows perform an important</span> function
                <a href="" title="in notation structure">in notation structure</a> and
                <i>hierarchy of elements on the device screen</i>. A simple, tiny shadow can express a lot and it’s absolutely sufficient in most cases, if it’s being used properly and with meaningful intention. Each surface in Material Design language has its height – a position on the axis Z and;- it casts a shadow at the bottom – exactly as the real world objects (materials) do.The z-axis is perpendicularly aligned to the plane of the display, with the positive z-axis extending towards the viewer. Every sheet of material occupies a single position along the z-axis and has a standard 1dp thickness. On the web, the z-axis is used for layering and not perspective, so the 3D world is emulated by manipulating the y-axis.
            </p>

            <p>
            <ul>
                <li>Material Design shadows perform an important function in notation structure</li>
                <li>quite distinct from flat design icons.</li>
                <li>Each icon is cut, folded, and lit as paper would b</li>
                <li>ion structure and hierarchy of elements on the device screen</li>
            </ul>
            <h1>Material Design shadows perform an important function in notation structure</h1>
            <ol>
                <li>Material Design shadows perform an important function in notation structure</li>
                <li>quite distinct from flat design icons.</li>
                <li>Each icon is cut, folded, and lit as paper would b</li>
                <li>ion structure and hierarchy of elements on the device screen</li>
            </ol>
            </p>

            <figure class="m-layout-object mm-expand">
                <img src="http://lorempixel.com/800/600" alt="" />
            </figure>

            <figure class="m-layout-object">
                {% include "subtemplates/base-carousel.twig" %}
            </figure>


            <h2>Material Design shadows perform an important function in notation structure</h2>
            <figure class="m-layout-object mm-small mm-right">
                <img src="http://lorempixel.com/800/600" alt="" />
                <figcaption>
                    <strong> Material Design</strong> icons are quite distinct from flat design icons. In Material Design language icons are limited by shape, geometry and icon anatomy
                </figcaption>
            </figure>
            <p>Material Design shadows perform an important function in notation structure and hierarchy of elements on the device screen. A simple, tiny shadow can express a lot and it’s absolutely sufficient in most cases, if it’s being used properly and with meaningful intention. Each surface in Material Design language has its height – a position on the axis Z and;- it casts a shadow at the bottom – exactly as the real world objects (materials) do.The z-axis is perpendicularly aligned to the plane of the display, with the positive z-axis extending towards the viewer. Every sheet of material occupies a single position along the z-axis and has a standard 1dp thickness. On the web, the z-axis is used for layering and not perspective, so the 3D world is emulated by manipulating the y-axis. </p>

            <div class="m-layout-object mm-small mm-right">
                {% include "subtemplates/base-properties.twig" %}
            </div>
            <p>Material Design shadows perform an important function in notation structure and hierarchy of elements on the device screen. A simple, tiny shadow can express a lot and it’s absolutely sufficient in most cases, if it’s being used properly and with meaningful intention. Each surface in Material Design language has its height – a position on the axis Z and;- it casts a shadow at the bottom – exactly as the real world objects (materials) do.The z-axis is perpendicularly aligned to the plane of the display, with the positive z-axis extending towards the viewer. Every sheet of material occupies a single position along the z-axis and has a standard 1dp thickness. On the web, the z-axis is used for layering and not perspective, so the 3D world is emulated by manipulating the y-axis. </p>
            <figure class="m-layout-object mm-small mm-left">
                <img src="http://lorempixel.com/800/600" alt="" />
                <figcaption>
                    <strong> Material Design</strong> icons are quite distinct from flat design icons. In Material Design language icons are limited by shape, geometry and icon anatomy
                </figcaption>
            </figure>
            <p>Material Design shadows perform an important function in notation structure and hierarchy of elements on the device screen. A simple, tiny shadow can express a lot and it’s absolutely sufficient in most cases, if it’s being used properly and with meaningful intention. Each surface in Material Design language has its height – a position on the axis Z and;- it casts a shadow at the bottom – exactly as the real world objects (materials) do.The z-axis is perpendicularly aligned to the plane of the display, with the positive z-axis extending towards the viewer. Every sheet of material occupies a single position along the z-axis and has a standard 1dp thickness. On the web, the z-axis is used for layering and not perspective, so the 3D world is emulated by manipulating the y-axis. </p>

            <p>Material Design shadows perform an important function in notation structure and hierarchy of elements on the device screen. A simple, tiny shadow can express a lot and it’s absolutely sufficient in most cases, if it’s being used properly and with meaningful intention. Each surface in Material Design language has its height – a position on the axis Z and;- it casts a shadow at the bottom – exactly as the real world objects (materials) do.The z-axis is perpendicularly aligned to the plane of the display, with the positive z-axis extending towards the viewer. Every sheet of material occupies a single position along the z-axis and has a standard 1dp thickness. On the web, the z-axis is used for layering and not perspective, so the 3D world is emulated by manipulating the y-axis. </p>

            <blockquote>
                Material Design icons are quite distinct from flat design icons.
            </blockquote>

            <p>Product icon design is inspired by the tactile and physical quality of material. Each icon is cut, folded, and lit as paper would be, but represented by simple graphic elements.
               Material Design icons are quite distinct from flat design icons. In Material Design language icons are limited by shape, geometry and icon anatomy (layers) constrains. Misconception: adding long shadows makes your icon “Material Design style”. Forget shadows, think of overall icon structure and appearance… </p>

            <h3>Material Design shadows perform an important function in notation structure</h3>

            <blockquote>
                A Material Design icons are quite distinct from flat design icons.
            </blockquote>

            <blockquote>
                B Material Design icons are quite distinct from flat design icons.
            </blockquote>

            <blockquote class="mm-center">
                C Material Design icons are quite distinct from flat design icons.
                C Material Design icons are quite distinct from flat design icons.
                C Material Design icons are quite distinct from flat design icons.C Material Design icons are quite distinct from flat design icons.
                <span class="author">author</span>
            </blockquote>

            <blockquote>
                D Material Design icons are quite distinct from flat design icons.
            </blockquote>

            <p>Material Design shadows perform an important function in notation structure and hierarchy of elements on the device screen. A simple, tiny shadow can express a lot and it’s absolutely sufficient in most cases, if it’s being used properly and with meaningful intention. Each surface in Material Design language has its height – a position on the axis Z and;- it casts a shadow at the bottom – exactly as the real world objects (materials) do.The z-axis is perpendicularly aligned to the plane of the display, with the positive z-axis extending towards the viewer. Every sheet of material occupies a single position along the z-axis and has a standard 1dp thickness. On the web, the z-axis is used for layering and not perspective, so the 3D world is emulated by manipulating the y-axis. </p>
            <blockquote class="m-layout-object mm-small mm-right">
                Material Design icons are quite distinct from flat design icons.
            </blockquote>
            <figure>
                <img src="http://lorempixel.com/800/600" alt="" />
                <figcaption>
                    <strong> Material Design</strong> icons are quite distinct from flat design icons. In Material Design language icons are limited by shape, geometry and icon anatomy
                </figcaption>
            </figure>

            <p>Product icon design is inspired by the tactile and physical quality of material. Each icon is cut, folded, and lit as paper would be, but represented by simple graphic elements.
               Material Design icons are quite distinct from flat design icons. In Material Design language icons are limited by shape, geometry and icon anatomy (layers) constrains. Misconception: adding long shadows makes your icon “Material Design style”. Forget shadows, think of overall icon structure and appearance… </p>
            <h4>Material Design shadows perform an important function in notation structure</h4>

            <blockquote class="m-layout-object mm-small mm-left">
                Material Design icons are quite distinct from flat design icons.
            </blockquote>

            <p>Material Design shadows perform an important function in notation structure and hierarchy of elements on the device screen. A simple, tiny shadow can express a lot and it’s absolutely sufficient in most cases, if it’s being used properly and with meaningful intention. Each surface in Material Design language has its height – a position on the axis Z and;- it casts a shadow at the bottom – exactly as the real world objects (materials) do.The z-axis is perpendicularly aligned to the plane of the display, with the positive z-axis extending towards the viewer. Every sheet of material occupies a single position along the z-axis and has a standard 1dp thickness. On the web, the z-axis is used for layering and not perspective, so the 3D world is emulated by manipulating the y-axis. </p>

            <h5>Material Design shadows perform an important function in notation structure</h5>

            <p>Product icon design is inspired by the tactile and physical quality of material. Each icon is cut, folded, and lit as paper would be, but represented by simple graphic elements.
               Material Design icons are quite distinct from flat design icons. In Material Design language icons are limited by shape, geometry and icon anatomy (layers) constrains. Misconception: adding long shadows makes your icon “Material Design style”. Forget shadows, think of overall icon structure and appearance… </p>
            <h6>Material Design shadows perform an important function in notation structure</h6>

            <p>Product icon design is inspired by the tactile and physical quality of material. Each icon is cut, folded, and lit as paper would be, but represented by simple graphic elements.
               Material Design icons are quite distinct from flat design icons. In Material Design language icons are limited by shape, geometry and icon anatomy (layers) constrains. Misconception: adding long shadows makes your icon “Material Design style”. Forget shadows, think of overall icon structure and appearance… </p>

        </div>

        <aside style="height: 1200px;">

            <div class="m-aside-block">
                {% include "subtemplates/base-properties.twig" %}
            </div>
            <div class="m-aside-block">
                {% include "subtemplates/base-carousel.twig" %}
            </div>

        </aside>
    </div>

