<ul>

<li class="m-navbar--menu-link">
    <a href="/?tpl=detail-story-onecol" title=""><em class="">Detail 1COL</em></a>
</li>
<li class="m-navbar--menu-link">
    <a href="/?tpl=detail-story-full" title=""><em class="">Detail 1COL Full</em></a>
</li>
<li class="m-navbar--menu-link">
    <a href="/?tpl=detail-story-twocol" title=""><em class="">Detail 2COL</em></a>
</li>

</ul>
