<div class="m-properties">
    <div>
    <dl><dt>Zařazení</dt><dd>Stavby pro stravování – restaurace</dd></dl>

    <dl><dt>Rok realizace</dt><dd>2014</dd></dl>

    <dl><dt>Místo realizace</dt><dd>Vizovice, Česká republika</dd></dl>

    <dl>
        <dt class="mm-label">Technické specifikace</dt>
        <dt class="mm-sub">počet modulů</dt><dd>58</dd>
        <dt class="mm-sub">doba realizace</dt><dd>12 týdnů</dd>
        <dt class="mm-sub">užitná plocha</dt><dd>4587 m<sup>2</sup></dd>
        <dt class="mm-sub">kapacita</dt><dd>7 lidí ve stoje</dd>
    </dl>
    </div>
</div>
