<div class="row">
    faho
</div>


<article class="m-article">
    <div class="m-article--container">

        <header class="m-article--header" style="background-image: url('http://lorempixel.com/1000/400/fashion/2');">
            <div class="m-article--header-container">
                <h1>Article title</h1>

                <div class="m-article--meta">
                    some meta, date author etc
                </div>

                <div class="m-article--image">
                    <a href=""><img src="http://lorempixel.com/1000/400/fashion/2" alt="image" /></a>
                </div>

            </div>
        </header>

        <div class="m-article--content">
            <div class="m-article--content-container">

                <div class="m-article--abstract">
                    <p>Quisque eu nunc at nisl egestas aliquet et sit amet metus. Sed ac porttitor metus. Praesent massa nulla, finibus sit amet dui quis, congue viverra ex. Pellentesque semper dictum enim, et imperdiet dolor ultricies sit amet. Donec varius, ligula luctus pulvinar euismod, quam augue sagittis nibh, vel dapibus risus augue posuere eros. Praesent eleifend, tortor in ornare pharetra, velit dui lobortis neque, eu maximus elit dui id eros. Vestibulum justo justo, sodales eget mauris sit amet, eleifend ornare est. Ut sed diam justo. Proin erat ligula, blandit non enim sed, lacinia pretium turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eleifend bibendum maximus. Integer sit amet nisl purus. Praesent odio diam, consequat vel tincidunt at, ullamcorper et lectus.</p>
                </div>

                <div class="m-body--copy">
                    <p>Quisque eu nunc at nisl egestas aliquet et sit amet metus. Sed ac porttitor metus. Praesent massa nulla, finibus sit amet dui quis, congue viverra ex. Pellentesque semper dictum enim, et imperdiet dolor ultricies sit amet. Donec varius, ligula luctus pulvinar euismod, quam augue sagittis nibh, vel dapibus risus augue posuere eros. Praesent eleifend, tortor in ornare pharetra, velit dui lobortis neque, eu maximus elit dui id eros. Vestibulum justo justo, sodales eget mauris sit amet, eleifend ornare est. Ut sed diam justo. Proin erat ligula, blandit non enim sed, lacinia pretium turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eleifend bibendum maximus. Integer sit amet nisl purus. Praesent odio diam, consequat vel tincidunt at, ullamcorper et lectus.</p>

                    <p>Quisque eu nunc at nisl egestas aliquet et sit amet metus. Sed ac porttitor metus. Praesent massa nulla, finibus sit amet dui quis, congue viverra ex. Pellentesque semper dictum enim, et imperdiet dolor ultricies sit amet. Donec varius, ligula luctus pulvinar euismod, quam augue sagittis nibh, vel dapibus risus augue posuere eros. Praesent eleifend, tortor in ornare pharetra, velit dui lobortis neque, eu maximus elit dui id eros. Vestibulum justo justo, sodales eget mauris sit amet, eleifend ornare est. Ut sed diam justo. Proin erat ligula, blandit non enim sed, lacinia pretium turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eleifend bibendum maximus. Integer sit amet nisl purus. Praesent odio diam, consequat vel tincidunt at, ullamcorper et lectus.</p>

                    <p>Vivamus id risus tempus, vehicula purus nec, pellentesque tellus. Proin at libero arcu. Etiam ac vestibulum tortor. In a leo est. Morbi nulla tortor, posuere at euismod vel, dapibus ac erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In porta purus non condimentum vulputate. Nunc sed tempor mauris. Cras in massa quis ex pellentesque facilisis.</p>

                    <p>Donec id turpis at orci placerat placerat. Ut posuere gravida est eget facilisis. Nullam facilisis dignissim odio, ut cursus nisl. Sed consequat massa sagittis, tristique lectus vel, elementum nisl. Ut ac interdum lectus. Sed et blandit elit. Maecenas molestie, mauris quis bibendum tincidunt, libero felis hendrerit felis, eget ultricies diam neque ut lorem.</p>

                    <figcaption><a href=""><img src="http://lorempixel.com/960/700/fashion/" alt="image" /></a>
                    </figcaption>

                    <p>Donec id turpis at orci placerat placerat. Ut posuere gravida est eget facilisis. Nullam facilisis dignissim odio, ut cursus nisl. Sed consequat massa sagittis, tristique lectus vel, elementum nisl. Ut ac interdum lectus. Sed et blandit elit. Maecenas molestie, mauris quis bibendum tincidunt, libero felis hendrerit felis, eget ultricies diam neque ut lorem.</p>

                    <p>Ut fermentum ac lectus a eleifend. Aliquam lacinia pellentesque fringilla. Nam quis lectus sit amet dolor sollicitudin ultrices. Curabitur et lacinia nibh, at consequat sapien. Phasellus a nulla nunc. Pellentesque ut orci at lacus pellentesque porttitor. Praesent vestibulum, libero vitae posuere vulputate, felis mi suscipit magna, in posuere ipsum mi ut lorem. Nulla fermentum non tortor quis posuere. Aenean consequat dignissim est, quis condimentum magna venenatis nec.</p>
                </div>


            </div>
        </div>
        <div class="m-article--footer">
            <div class="m-article--footer-container">
                <div class="test"> article footer content</div>
                <div class="test2"> article footer content</div>
            </div>
        </div>

    </div>
</article>

