<article class="m-basic-page">
    <header class="m-basic-page--header">
        <h1 class="m-basic-page--hed"><a href="">Nová modulární KOMA jídelna konečně otevřena!</a></h1>

        <figure class="m-basic-page--image" style="background-image: url(http://lorempixel.com/650/500)">
            <a href=""><img src="http://lorempixel.com/650/500" alt="" /></a>
            <figcaption>
                <p>Morbi vulputate ac quam quis feugiat. Mauris dapibus dictum ex, at sodales mauris rutrum vel. Suspendisse vestibulum enim sit amet ultricies hendrerit.</p>
            </figcaption>
        </figure>

        <div class="m-basic-page--summary">
            <div class="m-basic-page--description">
            </div>
        </div>

    </header>

    <div class="m-basic-page--content">


        <div class="m-body--content">
            <h2>Sport</h2>
            <p>Dlouho avizovaná modulární multifunkční stavba v areálu KOMA ve Vizovicích je dokončena. Jídelna a moderní zázemí pro pracovníky firmy tak slouží vedle svého hlavního účelu i pro kulturní a společenské akce. </p>

            <h3>Sport</h3>
            <p>Nová modulární budova, navržená architekty Chybíkem a Krištofem naplňuje filozofii firmy, jež tvrdí, že kvalitní produkty mohou vytvářet pouze kvalitní a spokojení zaměstnanci. Architektonický návrh proto elegantně řeší interiér budovy, kdy vnitřní prostory odrážejí nejnovější trendy, jsou barvené a působí svěžím a příjemným dojmem. Navíc vytváří pro lidi prostory, kam rádi zajdou a ač jsou stále v areálu firmy, tak si od práce dokáží odpočinout. Budova je díky velikým oknům nádherně prosvětlená. Exteriérové řešení působí již na první dojem atraktivně. Nejde jen o zajímavou skladbu modulů a terasy, ale také o nápadité fasádní řešení, na kterém se v těchto dnech pracuje (projekt počítá s osazením sekundární fasády z tahokovu, která bude instalovaná do konce února 2014).  </p>

            <p>Modulární architektura má jednoduše budoucnost!</p>
        </div>


        <aside>
            aside
        </aside>

    </div>

</article>


