<div class="m-section l-feed_carousel">

    <header class="m-section--header">
        <div class="l-full">
            <h2 class="m-section--hed mm-big">Reference</h2>
        </div>
    </header>

    <div class="m-section--content">
        <div class="l-full">
            <div class="slides full-carousel">

                {% for s in 1..6 %}
                    <div class="m-card_reference l-single slide">
                        {% include 'subtemplates/base-item.twig' with {'contentType': 'm-story', 'class': ''} %}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>


    <footer class="m-section--footer">
        <div class="l-half">
            <div class="m-section--top"><a href="">Nahoru <i class="fa fa-arrow-up"></i></a></div>
        </div>
        <div class="l-half">
            <div class="m-section--more"><a href="">Celý archiv <i class="fa fa-arrow-right"></i></a></div>
        </div>
    </footer>

</div>
