{# obory #}
<div class="m-section l-feed_three">

    <div class="row">
        <header class="m-section--header">
            <div class="l-full">
                <h2 class="m-section--hed">Objekty <span class="color-primary">dle účelu</span></h2>
            </div>
        </header>
    </div>

    {% include "subtemplates/base-filter.twig" %}

    <div class="row">
        {% for a in 1..6 %}
            <div class="m-card_image mm-color-{{ a }} l-single">
                {% include 'subtemplates/base-item.twig' with {'contentType': 'm-story', 'class': ''} %}
            </div>
        {% endfor %}
    </div>


    <div class="row">
        <footer class="m-section--footer">
            <div class="l-half">
                <div class="m-section--top"><a href="">Nahoru <i class="fa fa-arrow-up"></i></a></div>
            </div>
            <div class="l-half">
                <ul class="m-section--nav inline-right">
                    <li><a href="" title="Novinky">Technická pomoc</a></li>
                    <li><a href="">informace pro architekty</a></li>
                </ul>
            </div>
        </footer>
    </div>

</div>

