<div class="m-section l-feed_one bg-white">

    <header class="m-section--header">
        <h2 class="m-section--hed mm-medium mm-center">Section title</h2>
    </header>

    <div class="m-section--content">
        {% for a in 1..2 %}
            <div class="l-single">
                {% include 'subtemplates/base-item.twig' with {'contentType': 'm-story', 'class': 'm-card_standard'} %}
            </div>
        {% endfor %}
    </div>


    <footer class="m-section--footer">
        <div class="l-half">
            <div class="m-section--top"><a href="">Nahoru <i class="fa fa-arrow-up"></i></a></div>
        </div>
        <div class="l-half">
            <div class="m-section--more"><a href="">Celý archiv <i class="fa fa-arrow-right"></i></a></div>
        </div>
    </footer>


</div>
