
{# obory #}
<div class="m-section l-feed_three">

    <div class="row">
        <header class="m-section--header">
            <div class="l-full">
                <h2 class="m-section--hed">Objekty <span class="color-primary">dle účelu</span></h2>
            </div>
        </header>
    </div>

    <div class="row">
        {% for a in 1..6 %}
            <div class="m-card_image mm-color-{{ a }} l-single">

                <article class="m-story">
                    <header>
                        <div class="m-item--image" style="background-image: url(http://lorempixel.com/400/600)">
                            <a href="">
                                <img src="http://lorempixel.com/400/600" alt="" />
                            </a>
                        </div>
                        <h1 class="m-item--hed">
                            <a href="">titulek titulek</a>
                        </h1>

                        <div class="m-item--description">
                            <p>Morbi vulputate ac quam quis feugiat. Mauris dapibus dictum ex, at sodales mauris rutrum vel. Suspendisse vestibulum enim sit amet ultricies hendrerit.</p>
                        </div>
                    </header>
                    <div class="m-card--more"><i class="fa fa-arrow-right"></i></div>
                </article>
            </div>
        {% endfor %}
    </div>


    <div class="row">
        <footer class="m-section--footer">
            <div class="l-half">
                <div class="m-section--top"><a href="">Nahoru <i class="fa fa-arrow-up"></i></a></div>
            </div>
            <div class="l-half">
                <ul class="m-section--nav inline-right">
                    <li><a href="" title="Novinky">Technická pomoc</a></li>
                    <li><a href="">informace pro architekty</a></li>
                </ul>
            </div>
        </footer>
    </div>

</div>

