<div class="hero-tabs" slick >

    <div class="hero-slides" carousel>
        <div class="content-tab">
            <div class="row">
                <div class="description">
                    <p>Vyberte si xy</p>
                </div>
            </div>
        </div>

        <div class="content-tab mm-right">
            <div class="row">
                <div class="description">
                    <p>1 RÁ SVOU POVAHOU UMOŽŇUJE OKAMŽITÉ ŘEŠENÍ POTŘEBY MÍT KANCELÁŘ, PRODEJNU, DÍLNU… PROSTĚ CO JE POTŘEBA. </p>
                </div>
            </div>
        </div>

        <div class="content-tab ">
            <div class="row">
                <div class="description">
                    <p> 2 JAKÁKOLIV PODNIKATELSKÁ INVESTICE MUSÍ BÝT EFEKTIVNÍ. MODULÁRNÍ KOMA SYSTÉM UMOŽŇUJE HODNOTNOU INVESTICI, KTERÁ SVOU POVAHOU UMOŽŇUJE OKAMŽITÉ ŘEŠENÍ POTŘEBY MÍT KANCELÁŘ, PRODEJNU, DÍLNU… PROSTĚ CO JE POTŘEBA. </p>
                </div>
            </div>
        </div>

        <div class="content-tab ">
            <div class="row">
                <div class="description">
                    <p>3 JAKÁKOLIV PODNIKATELSKÁ INVESTICE MUSÍ BÝT EFEKTIVNÍ. MODULÁRNÍ KOMA SYSTÉM UMOŽŇUJE HODNOTNOU INVESTICI, KTERÁ SVOU POVAHOU UMOŽŇUJE OKAMŽITÉ ŘEŠENÍ POTŘEBY MÍT KANCELÁŘ, PRODEJNU, DÍLNU… PROSTĚ CO JE POTŘEBA. </p>
                </div>
            </div>
        </div>

        <div class="content-tab ">
            <div class="row">
                <div class="description">
                    <p>4 JAKÁKOLIV PODNIKATELSKÁ INVESTICE MUSÍ BÝT EFEKTIVNÍ. MODULÁRNÍ KOMA SYSTÉM UMOŽŇUJE HODNOTNOU INVESTICI, KTERÁ SVOU POVAHOU UMOŽŇUJE OKAMŽITÉ ŘEŠENÍ POTŘEBY MÍT KANCELÁŘ, PRODEJNU, DÍLNU… PROSTĚ CO JE POTŘEBA. </p>
                </div>
            </div>
        </div>

        <div class="content-tab ">
            <div class="row">
                <div class="description">
                    <p>5 JAKÁKOLIV PODNIKATELSKÁ INVESTICE MUSÍ BÝT EFEKTIVNÍ. MODULÁRNÍ KOMA SYSTÉM UMOŽŇUJE HODNOTNOU INVESTICI, KTERÁ SVOU POVAHOU UMOŽŇUJE OKAMŽITÉ ŘEŠENÍ POTŘEBY MÍT KANCELÁŘ, PRODEJNU, DÍLNU… PROSTĚ CO JE POTŘEBA. </p>
                </div>
            </div>
        </div>

        <div class="content-tab ">
            <div class="row">
                <div class="description">
                    <p> 6 JAKÁKOLIV PODNIKATELSKÁ INVESTICE MUSÍ BÝT EFEKTIVNÍ. MODULÁRNÍ KOMA SYSTÉM UMOŽŇUJE HODNOTNOU INVESTICI, KTERÁ SVOU POVAHOU UMOŽŇUJE OKAMŽITÉ ŘEŠENÍ POTŘEBY MÍT KANCELÁŘ, PRODEJNU, DÍLNU… PROSTĚ CO JE POTŘEBA. </p>
                </div>
            </div>
        </div>

    </div>

    <div class="navigation" carouselnav slick-method="mouseenter">
        <div class="l-grid">
            <div class="tab color-1" slick-to="1">
                Realizace školské
            </div>


            <div class="tab color-2" slick-to="2">
                Realizace školské
            </div>


            <div class="tab color-3" slick-to="3">
                Realizace školské
            </div>


            <div class="tab color-4" slick-to="4">
                Realizace školské
            </div>


            <div class="tab color-5" slick-to="5">
                Realizace školské
            </div>


            <div class="tab color-6 " slick-to="6">
                Realizace školské
            </div>
        </div>
    </div>
</div>


</div>
