<div class="hero-tabs">

    <div class="hero-slides">
        <div class="content-tab">
            <div class="row">
                <div class="description">
                    <p>Vyberte si xy</p>
                </div>
            </div>
        </div>

        <div class="content-tab mm-right">
            <div class="row">
                <div class="description">
                    <p>1 RÁ SVOU POVAHOU UMOŽŇUJE OKAMŽITÉ ŘEŠENÍ POTŘEBY MÍT KANCELÁŘ, PRODEJNU, DÍLNU… PROSTĚ CO JE POTŘEBA. </p>
                </div>
            </div>
        </div>

        <div class="content-tab ">
            <div class="row">
                <div class="description">
                    <p> 2 JAKÁKOLIV PODNIKATELSKÁ INVESTICE MUSÍ BÝT EFEKTIVNÍ. MODULÁRNÍ KOMA SYSTÉM UMOŽŇUJE HODNOTNOU INVESTICI, KTERÁ SVOU POVAHOU UMOŽŇUJE OKAMŽITÉ ŘEŠENÍ POTŘEBY MÍT KANCELÁŘ, PRODEJNU, DÍLNU… PROSTĚ CO JE POTŘEBA. </p>
                </div>
            </div>
        </div>

        <div class="content-tab ">
            <div class="row">
                <div class="description">
                    <p>3 JAKÁKOLIV PODNIKATELSKÁ INVESTICE MUSÍ BÝT EFEKTIVNÍ. MODULÁRNÍ KOMA SYSTÉM UMOŽŇUJE HODNOTNOU INVESTICI, KTERÁ SVOU POVAHOU UMOŽŇUJE OKAMŽITÉ ŘEŠENÍ POTŘEBY MÍT KANCELÁŘ, PRODEJNU, DÍLNU… PROSTĚ CO JE POTŘEBA. </p>
                </div>
            </div>
        </div>

        <div class="content-tab ">
            <div class="row">
                <div class="description">
                    <p>4 JAKÁKOLIV PODNIKATELSKÁ INVESTICE MUSÍ BÝT EFEKTIVNÍ. MODULÁRNÍ KOMA SYSTÉM UMOŽŇUJE HODNOTNOU INVESTICI, KTERÁ SVOU POVAHOU UMOŽŇUJE OKAMŽITÉ ŘEŠENÍ POTŘEBY MÍT KANCELÁŘ, PRODEJNU, DÍLNU… PROSTĚ CO JE POTŘEBA. </p>
                </div>
            </div>
        </div>

        <div class="content-tab ">
            <div class="row">
                <div class="description">
                    <p>5 JAKÁKOLIV PODNIKATELSKÁ INVESTICE MUSÍ BÝT EFEKTIVNÍ. MODULÁRNÍ KOMA SYSTÉM UMOŽŇUJE HODNOTNOU INVESTICI, KTERÁ SVOU POVAHOU UMOŽŇUJE OKAMŽITÉ ŘEŠENÍ POTŘEBY MÍT KANCELÁŘ, PRODEJNU, DÍLNU… PROSTĚ CO JE POTŘEBA. </p>
                </div>
            </div>
        </div>

        <div class="content-tab ">
            <div class="row">
                <div class="description">
                    <p> 6 JAKÁKOLIV PODNIKATELSKÁ INVESTICE MUSÍ BÝT EFEKTIVNÍ. MODULÁRNÍ KOMA SYSTÉM UMOŽŇUJE HODNOTNOU INVESTICI, KTERÁ SVOU POVAHOU UMOŽŇUJE OKAMŽITÉ ŘEŠENÍ POTŘEBY MÍT KANCELÁŘ, PRODEJNU, DÍLNU… PROSTĚ CO JE POTŘEBA. </p>
                </div>
            </div>
        </div>

    </div>

    <div class="navigation">
        <div class="row">
            <div class="small-2 columns">
                <div class="tab color-1"  slickTo="1">
                Realizace školské
            </div>
        </div>

        <div class="small-2 columns">
            <div class="tab color-2" slickTo="2">
                Realizace školské
            </div>
        </div>

        <div class="small-2 columns">
            <div class="tab color-3" slickTo="3">
                Realizace školské
            </div>
        </div>

        <div class="small-2 columns">
            <div class="tab color-4" slickTo="4">
                Realizace školské
            </div>
        </div>

        <div class="small-2 columns">
            <div class="tab color-5" slickTo="5">
                Realizace školské
            </div>
        </div>
        <div class="small-2 columns">
            <div class="tab color-6 " slickTo="6">
                Realizace školské
            </div>
        </div>
    </div>
</div>


</div>
