<footer class="m-footer l-footer">
    <div class="m-footer--container">
        <div class="row">


            <section class="m-footer--section">
                <a class="m-footer--logo" href="/">
                    <div class="mm-has-svg" style="background-image: url('/assets/images/site-logo.svg');"></div>
                </a>

            </section>


            <section class="m-footer--section">
                <ul class="m-footer--menu-primary">
                    {% for link in footer.menuPrimary %}
                        <li class="m-footer--menu-link">
                            <a target="{{ link.target }}" title="{{ link.title }}"><em class="">{{ link.title }}</em></a>
                        </li>
                    {% endfor %}
                </ul>
            </section>

            <section class="m-footer--section">
                <ul class="m-footer--menu-secondary">

                    <li class="m-footer--menu-link">
                        <a href="" target="" title=""><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="m-footer--menu-link">
                        <a href="" target="" title=""><i class="fa fa-pinterest"></i></a>
                    </li>
                    <li class="m-footer--menu-link">
                        <a href="" target="" title=""><i class="fa fa-youtube"></i></a>
                    </li>
                </ul>

            </section>
        </div>

        <div class="row">

            <section class="m-footer--subsection">
                <a class="m-footer--author" href="/">
                    <a href="">© 2015 – 2017 KOMA Modular, s. r. o.</a>
                </a>
            </section>

            <section class="m-footer--subsection">
                <a class="m-footer--author" href="/">
                    <a href="">Od Oka</a>
                </a>
            </section>
        </div>


    </div>
</footer>
