<footer class="m-footer l-footer">
    <div class="m-footer--container">
        <div class="row">
            <section class="m-footer--section">
                <a class="m-footer--logo" href="/">
                    <div class="mm-has-svg" style="background-image: url('/assets/images/site-logo-white.svg');"></div>
                </a>
            </section>
        </div>

        <div class="row">
            <section class="m-footer--section">
                <ul class="m-footer--menu-primary">
                    {% for link in footer.menuPrimary %}
                        <li class="m-footer--menu-link">
                            <a target="{{ link.target }}" title="{{ link.title }}"><em class="">{{ link.title }}</em></a>
                        </li>
                    {% endfor %}
                </ul>
            </section>

            <section class="m-footer--subsection">
                <div class="m-footer--author">
                    © 2015 – 2017 Michal Hotovec |

                    <a href="">@mhotovec</a> | +420 602 372 591 | <a href="">michal.hotovec@gmail.com</a>
                </div>
            </section>


        </div>


    </div>
</footer>
