<div class="m-navbar mm-secondary" id="navbarSecondary">
    <div class="m-navbar--container">
        <ul class="m-navbar--menu m-navbar--menu-tertiary">

            <li class="m-navbar--menu-social m-navbar--menu-twitter">
                <a target="_blank" title="" href="https://twitter.com/rww">
                    <span class="fa fa-twitter"><em class="">Twitter</em></span>
                </a>
            </li>

            <li class="m-navbar--menu-social m-navbar--menu-facebook">
                <a target="_blank" title="" href="https://twitter.com/rww">
                    <span class="fa fa-facebook"><em >Facebook</em></span>
                </a>
            </li>

            <li class="m-navbar--menu-social m-navbar--menu-instagram">
                <a target="_blank" title="" href="https://twitter.com/rww">
                    <span class="fa fa-instagram"><em class="">Instagram</em></span>
                </a>
            </li>
        </ul>

        <ul class="m-navbar--menu m-navbar--menu-secondary" >
            <li class="m-navbar--menu-dropdown">

                <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false"><em class="">Language</em></a>
                <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                    <li><a href="#">Jazyk1</a></li>
                    <li><a href="#">Jazyk2</a></li>
                    <li><a href="#">Jazyk3</a></li>
                </ul>

            </li>
        </ul>

        <ul class="m-navbar--menu m-navbar--menu-primary">
            <li class="m-navbar--menu-callout">
                <span class="color-primary">Call us:</span> (+421) 20 577 007 711
            </li>
        </ul>


    </div>
</div>
