<div class="m-navbar mm-primary mm-admin">
    <div class="m-navbar--container">


        {# logo #}
        <a class="m-navbar--logo" href="/">
            <div class="mm-has-svg" style="background-image: url('/sites/koma/assets/images/logo-koma-modular.svg');"></div>
        </a>

        {# social #}
        <ul class="m-navbar--menu m-navbar--menu-secondary">
            <li class="m-navbar--menu-link">
                <a target="" title=""><em class="">Kontakt</em></a>
            </li>
            <li class="m-navbar--menu-link">
                <a target="" title=""><em class="">Koma Group</em></a>
            </li>
            <li class="m-navbar--menu-link">
                <a target="" title=""><em class="">Koma Space</em></a>
            </li>
            <li class="m-navbar--menu-link">
                <a target="" title=""><em class="">Koma Modular</em></a>
            </li>
            <li class="m-navbar--menu-link">
                <a target="" title=""><em class="">Koma rent</em></a>
            </li>
            <li class="m-navbar--menu-link">
                <a target="" title=""><em class="">Koma Slovakia</em></a>
            </li>
        </ul>
    </div>
</div>
