<div class="m-page-scroll">
    <div class="m-page-scroll--item">
        <img src="/sites/koma/assets/images/scroll-down-sipka-opposite.svg" alt="Scroll Down" class="scroll-sipka" /> Scroll down
    </div>
</div>
