<div class="m-navbar" id="navbarPrimary">
    <div class="m-navbar--container">
        <div class="m-navbar--content">
            <div class="m-navbar--menu-secondary">
                <ul class="m-navbar--menu">
                    <li class="m-navbar--menu-toc">
                        <a target="" title=""><i class="fa fa-bars"></i></a>
                    </li>
                    {#<li class="m-navbar--menu-search">#}
                        {#<a target="" title=""><i class="fa fa-search"></i></a>#}
                    {#</li>#}
                    <li class="m-navbar--menu-social">
                        <a target="" title=""><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="m-navbar--menu-social">
                        <a target="" title=""><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="m-navbar--menu-social">
                        <a target="" title=""><i class="fa fa-instagram"></i></a>
                    </li>
                    <li class="m-navbar--menu-social">
                        <a target="" title=""><i class="fa fa-dribbble"></i></a>
                    </li>
                    <li class="m-navbar--menu-social">
                        <a target="" title=""><i class="fa fa-youtube"></i></a>
                    </li>
                </ul>
            </div>

            {# logo #}<a class="m-navbar--logo" href="/">
                <div class="mm-has-svg"></div>{#<h1>Michal <span>Hotovec</span></h1>#}
            </a>

            <div class="m-navbar--about">
                {#<div class="mm-has-svg" style="background-image: url('/assets/images/site-logo.svg');"></div>#}
                <h2>Design + UX + Augmented Reality</h2>
            </div>

            <div class="m-navbar--menu-primary">
                <ul class="m-navbar--menu">
                    <li class="m-navbar--menu-link">
                        <a href="/?tpl=detail-story-onecol" title=""><em class="">Detail 1COL</em></a>
                    </li>
                    <li class="m-navbar--menu-link">
                        <a href="/?tpl=detail-story-full" title=""><em class="">Detail 1COL Full</em></a>
                    </li>
                    <li class="m-navbar--menu-link">
                        <a href="/?tpl=detail-story-twocol" title=""><em class="">Detail 2COL</em></a>
                    </li>
                    <li class="m-navbar--menu-link">
                        <a target="" title=""><em class="">Firma a lidé</em></a>
                    </li>
                    <li class="m-navbar--menu-link">
                        <a target="" title=""><em class="">Reference</em></a>
                    </li>
                    <li class="m-navbar--menu-link">
                        <a target="" title=""><em class="">Objekty dle účelu</em></a>
                    </li>
                    <li class="m-navbar--menu-link">
                        <a target="" title=""><em class="">Produkty a služby</em></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

