<div class="m-navbar mm-primary" id="navbarPrimary">
    <div class="m-navbar--container">

        {#<ul class="m-navbar--menu m-navbar--menu-primary">

            <li class="m-navbar--menu-sections">
                <a target="" title="Topics"><em class="">TOC</em></a>
            </li>

            <li class="m-navbar--menu-search">
                <a target="" title="Topics"><em class="">Search</em></a>
            </li>

            <li class="m-navbar--menu-info">
                <a target="" title="Topics"><em class="">Info</em></a>
            </li>

            {% for link in navbar.menuPrimary %}
                <li class="m-navbar--menu-link"><a target="{{ link.target }}" title="{{ link.title }}"><em class="">{{ link.title }}</em></a></li>
            {% endfor %}
        </ul>#}

        {# logo #}
        <a class="m-navbar--logo" href="/">
            <div class="mm-has-svg" style="background-image: url('/sites/koma/assets/images/logo-koma-modular.svg');"></div>
        </a>

        {# social #}
        <ul class="m-navbar--menu m-navbar--menu-secondary">
            <li class="m-navbar--menu-toc">
                <a target="" title="" mega-open="#megaMobile"><i class="fa fa-bars"></i></a>
            </li>
            <li class="m-navbar--menu-search">
                <a target="" title=""><i class="fa fa-search"></i></a>
            </li>
            <li class="m-navbar--menu-link">
                <a target="" title="" mega-open="#megaKontakt"><em class="">Kontakt</em></a>
            </li>
            <li class="m-navbar--menu-link">
                <a target="" title="" mega-open="#megaFirma"><em class="">Firma a lidé</em></a>
            </li>
            <li class="m-navbar--menu-link">
                <a target="" title="" mega-open="#megaReference"><em class="">Reference</em></a>
            </li>
            <li class="m-navbar--menu-link">
                <a target="" title="" mega-open="#megaObjekty"><em class="">Objekty dle účelu</em></a>
            </li>
            <li class="m-navbar--menu-link">
                <a target="" title="" mega-open="#megaProdukty"><em class="">Produkty a služby</em></a>
            </li>
        </ul>


    </div>
</div>


<div class="megacleaned" style="display: none">
    <div class="nav">
        <div class="item">
            <a href="/?q=vyhledavani" class="mm-link-search" title="Vyhledávání">
                Vyhledávání </a>
        </div>

        <div class="item">
            <a href="/?q=kontakty">
                Kontakt </a>
        </div>

        <div class="item">
            <a href="http://new.koma-modular.cz/?q=node/1552" class="dropdown-toggle">
                Firma a lidé </a>
        </div>

        <div class="item">
            <a href="http://new.koma-modular.cz/reference" class="dropdown-toggle">
                Reference </a>
        </div>

        <div class="item">
            <a href="/?q=node/1533" class="dropdown-toggle">
                Objekty dle účelu </a>
        </div>

        <div class="item">
            <a href="/?q=node/1543" class="dropdown-toggle">
                Produkty &amp; služby </a>
        </div>

    </div>
</div>


<div class="m-mega" id="mega">
    <div class="m-mega--sub">

        <div class="item-submenu">
            <div class="row">

                <div class="submenu">
                    <div class="columns">

                        <div class="column">
                            <div class="tblock">
                                <div id="block-block-4" class="block block-block  block-block-4 first odd">

                                    <h2 class="block__title block-title">Firma a lidé.</h2>

                                    <p>Zejména díky kvalitním zaměstnancům je KOMA lídrem na českém modulárním trhu. Lidé, kvalita a inovace jsou to, co více jak 20 let KOMA charakterizuje.</p>

                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="subnav">
                                <div class="item">
                                    <a href="/" class="mega-group-title">
                                        O firmě </a>
                                </div>

                                <div class="item-submenu">
                                    <div class="row">
                                        <div class="submenu">
                                            <div class="columns">
                                                <div class="column">
                                                    <div class="subnav">
                                                        <div class="item">
                                                            <a href="/?q=profil-firmy">
                                                                Profil firmy </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=hodnoty-vize-strategie-firmy">
                                                                Hodnoty. Vize. Strategie firmy </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=o-firme/certifikace">
                                                                Certifikace </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=koma-system">
                                                                KOMA Systém </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="subnav">
                                <div class="item">
                                    <a href="http://new.koma-modular.cz/zpravodaj" class="mega-group-title">
                                        KOMA Zpravodaj </a>
                                </div>

                                <div class="item-submenu">
                                    <div class="row">
                                        <div class="submenu">
                                            <div class="columns">
                                                <div class="column">
                                                    <div class="subnav">
                                                        <div class="item">
                                                            <a href="http://new.koma-modular.cz/?q=zpravodaj&amp;field_zpravodaj_kategorie_tid=24&amp;field_zpravodaj_publikace_value[value][year]=">
                                                                Novinky </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="http://new.koma-modular.cz/?q=zpravodaj&amp;field_zpravodaj_kategorie_tid=120&amp;field_zpravodaj_publikace_value[value][year]=">
                                                                Projekty </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="http://new.koma-modular.cz/?q=zpravodaj&amp;field_zpravodaj_kategorie_tid=25&amp;field_zpravodaj_publikace_value[value][year]=">
                                                                Příklady modulární výstavby ve světě </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="http://new.koma-modular.cz/?q=zpravodaj&amp;field_zpravodaj_kategorie_tid=26&amp;field_zpravodaj_publikace_value[value][year]=">
                                                                E-Bulletin </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="http://new.koma-modular.cz/zpravodaj">
                                                                vše (celý archiv) </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="subnav">
                                <div class="item">
                                    <a href="/" class="mega-group-title">
                                        Další informace </a>
                                </div>

                                <div class="item-submenu">
                                    <div class="row">
                                        <div class="submenu">
                                            <div class="columns">
                                                <div class="column">
                                                    <div class="subnav">
                                                        <div class="item">
                                                            <a href="/?q=publicita">
                                                                Publicita </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=firma-a-lide/kariera">
                                                                Volná místa (kariéra v KOMA) </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="subnav">
                                <div class="item">
                                    <a href="/">
                                        Ke stažení </a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="item-submenu">
            <div class="row">
                <div class="submenu">
                    <div class="columns">
                        <div class="column">
                            <div class="tblock">
                                <div id="block-block-3" class="block block-block  block-block-3 even">

                                    <h2 class="block__title block-title">Reference</h2>

                                    <p>Posuďte sami, jaké možnosti modulární KOMA systém nabízí. A pokud nenajdete to, co hledáte, stačí poslat projekt a my vám ukážeme, že to umíme.</p>

                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="subnav">
                                <div class="item">
                                    <a href="/" class="mega-group-title">
                                        Reference dle účelu </a>
                                </div>

                                <div class="item-submenu">
                                    <div class="row">
                                        <div class="submenu">
                                            <div class="columns">
                                                <div class="column">
                                                    <div class="subnav">
                                                        <div class="item">
                                                            <a href="http://new.koma-modular.cz/?q=reference/archiv&amp;field_reference_vyrobkova_rada_tid_selective=All&amp;field_reference_rok_value_selective=All&amp;field_reference_zeme_iso2_selective=All&amp;term_node_tid_depth=92">
                                                                Pro podnikání </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="http://new.koma-modular.cz/?q=reference/archiv&amp;field_reference_vyrobkova_rada_tid_selective=All&amp;field_reference_rok_value_selective=All&amp;field_reference_zeme_iso2_selective=All&amp;term_node_tid_depth=107">
                                                                Školské stavby </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="http://new.koma-modular.cz/?=reference/archiv&amp;field_reference_vyrobkova_rada_tid_selective=All&amp;field_reference_rok_value_selective=All&amp;field_reference_zeme_iso2_selective=All&amp;term_node_tid_depth=102">
                                                                Administrační budovy </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="http://new.koma-modular.cz/?q=reference%2Farchiv&amp;field_reference_vyrobkova_rada_tid_selective=All&amp;field_reference_rok_value_selective=All&amp;field_reference_zeme_iso2_selective=All&amp;term_node_tid_depth=103">
                                                                Realizace pro bydlení </a>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="column">
                                                    <div class="subnav">
                                                        <div class="item">
                                                            <a href="http://new.koma-modular.cz/?q=reference/archiv&amp;field_reference_vyrobkova_rada_tid_selective=All&amp;field_reference_rok_value_selective=All&amp;field_reference_zeme_iso2_selective=All&amp;term_node_tid_depth=105">
                                                                Realizace pro stravování </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="http://new.koma-modular.cz/?q=reference%2Farchiv&amp;field_reference_vyrobkova_rada_tid_selective=All&amp;field_reference_rok_value_selective=All&amp;field_reference_zeme_iso2_selective=All&amp;term_node_tid_depth=111">
                                                                Realizace pro kulturu </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="http://new.koma-modular.cz/?q=reference%2Farchiv&amp;field_reference_vyrobkova_rada_tid_selective=All&amp;field_reference_rok_value_selective=All&amp;field_reference_zeme_iso2_selective=All&amp;term_node_tid_depth=111">
                                                                Realizace pro sport </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="subnav">
                                <div class="item">
                                    <a href="#" class="mega-group-title">
                                        Archiv referencí </a>
                                </div>

                                <div class="item-submenu">
                                    <div class="row">
                                        <div class="submenu">
                                            <div class="columns">
                                                <div class="column">
                                                    <div class="subnav">
                                                        <div class="item">
                                                            <a href="http://new.koma-modular.cz/reference/archiv">
                                                                Celý archiv </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="item-submenu">
            <div class="row">
                <div class="submenu">
                    <div class="columns">
                        <div class="column">
                            <div class="tblock">
                                <div id="block-block-2" class="block block-block  block-block-2 odd">

                                    <h2 class="block__title block-title">Objekty dle účelu</h2>

                                    <p>Modulární KOMA systém umožňuje efektivně realizovat stavbu pro jakýkoliv účel. V KOMA vyrábíme stavby na míru.</p>

                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="subnav">
                                <div class="item">
                                    <a href="/" class="mega-group-title">
                                        Segmenty trhu </a>
                                </div>

                                <div class="item-submenu">
                                    <div class="row">
                                        <div class="submenu">
                                            <div class="columns">
                                                <div class="column">
                                                    <div class="subnav">
                                                        <div class="item">
                                                            <a href="/?q=node/1512">
                                                                Administrativní budovy </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=node/1510">
                                                                Realizace pro podnikání </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=node/1511">
                                                                Realizace školské </a>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="column">
                                                    <div class="subnav">
                                                        <div class="item">
                                                            <a href="/?q=node/1513">
                                                                Realizace pro stravování </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=node/1515">
                                                                Humanitární projekty </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=node/1509">
                                                                Realizace pro sport </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="subnav">
                                <div class="item">
                                    <a href="#" class="mega-group-title">
                                        Služby </a>
                                </div>

                                <div class="item-submenu">
                                    <div class="row">
                                        <div class="submenu">
                                            <div class="columns">
                                                <div class="column">
                                                    <div class="subnav">
                                                        <div class="item">
                                                            <a href="/?q=technicka-pomoc">
                                                                Technická pomoc </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=pronajem">
                                                                Pronájem </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=financni-sluzby">
                                                                Finanční služby </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=logisticke-sluzby">
                                                                Logistické služby </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=servis">
                                                                Servis </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="http://new.koma-modular.cz/?q=nabidka">
                                                                Bazar </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="item-submenu">
            <div class="row">
                <div class="submenu">
                    <div class="columns">
                        <div class="column">
                            <div class="tblock">
                                <div id="block-block-1" class="block block-block  block-block-1 even">

                                    <h2 class="block__title block-title">Produkty a služby</h2>

                                    <p>Modulární KOMA systém je komplexním stavebním systémem. Moduly nejen vyrábíme, ale modulární stavby navrhujeme i stavíme.</p>

                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="subnav">
                                <div class="item">
                                    <a href="/" class="mega-group-title">
                                        Modulární výstavba </a>
                                </div>

                                <div class="item-submenu">
                                    <div class="row">
                                        <div class="submenu">
                                            <div class="columns">
                                                <div class="column">
                                                    <div class="subnav">
                                                        <div class="item">
                                                            <a href="/?q=co-je-modularni-vystavba">
                                                                Co je modulární výstavba </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=vyhody-modularni-vystavby">
                                                                Výhody modulární výstavby </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=zivotni-prostredi">
                                                                Životní prostředí </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=jak-se-vyrabi">
                                                                Jak se vyrábí </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="subnav">
                                <div class="item">
                                    <a href="/" class="mega-group-title">
                                        Produktové řady </a>
                                </div>

                                <div class="item-submenu">
                                    <div class="row">
                                        <div class="submenu">
                                            <div class="columns">
                                                <div class="column">
                                                    <div class="subnav">
                                                        <div class="item">
                                                            <a href="/?q=node/1570">
                                                                Standard Line </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=economic-line">
                                                                Economic Line </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=store-line">
                                                                Store Line </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="subnav">
                                <div class="item">
                                    <a href="#" class="mega-group-title">
                                        Doplňkové produkty </a>
                                </div>

                                <div class="item-submenu">
                                    <div class="row">
                                        <div class="submenu">
                                            <div class="columns">
                                                <div class="column">
                                                    <div class="subnav">
                                                        <div class="item">
                                                            <a href="/?q=fasadni-systemy">
                                                                Fasádní systémy </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="subnav">
                                <div class="item">
                                    <a href="/" class="mega-group-title">
                                        Služby </a>
                                </div>

                                <div class="item-submenu">
                                    <div class="row">
                                        <div class="submenu">
                                            <div class="columns">
                                                <div class="column">
                                                    <div class="subnav">
                                                        <div class="item">
                                                            <a href="/?q=technicka-pomoc">
                                                                Technická pomoc </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=pronajem">
                                                                Pronájem </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=financni-sluzby">
                                                                Finanční služby </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=logisticke-sluzby">
                                                                Logistické služby </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="/?q=servis">
                                                                Servis </a>
                                                        </div>


                                                        <div class="item">
                                                            <a href="http://new.koma-modular.cz/?q=nabidka">
                                                                Bazar </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


