<div class="m-side-panel">
    <div class="m-side-panel--item">
        <img src="/sites/koma/assets/images/scroll-down-sipka.svg" alt="Scroll Down" class="scroll-sipka" /> Scroll down
    </div>
</div>
