<div class="m-section l-navigation">

    <div class="m-section--content">
        <div class="l-prev m-card_nav">
            {% include 'subtemplates/base-item.twig' with {'contentType': 'm-story', 'class': ''} %}
        </div>

        <div class="l-next m-card_nav">
            {% include 'subtemplates/base-item.twig' with {'contentType': 'm-story', 'class': ''} %}
        </div>
    </div>

</div>
