<div class="m-section m-section_support">

    <div class="l-grid">
        <div class="m-section--item">

            <article class="m-newsletter">
                <header>
                    <h1 class="m-item--hed">Podpora pro zákazníky</h1>
                </header>

                <div class="m-item--description">Nenašli jste zde odpověď na Vaše otázky? Zeptejte se nás přímo!</div>
                <button>Zeptejte se nás <i class="fa fa-arrow-right"></i></button>
            </article>

        </div>

        <div class="m-section--item worker" >
            <img src="/sites/koma/assets/images/worker.jpg" />
        </div>

        <div class="m-section--item">

            <article class="m-bulletin">
                <header>
                    <h1 class="m-item--hed">Podpora pro zákazníky</h1>
                </header>
                <form action="">
                    <div class="input-group">
                        <span class="prefix">http://</span><input type="text" placeholder="Enter your URL..."><a href="#" class="button postfix"><i class="fa fa-envelope"></i></a>
                    </div>
                </form>

                <div class="m-item--description">Odběrem našeho měsíčního ebulletinu získáte přehled o dění ve světě modulární architektury i o novinkách systému modulární výstavby KOMA.</div>

            </article>

        </div>
    </div>

</div>
