
<div class="m-section l-section_support">

    <div class="l-grid">
        <div class="m-section--item">

            <article class="m-newsletter">
                <header>
                    <h1 class="m-newsletter--hed">Podpora pro zákazníky</h1>
                </header>

                <div>Nenašli jste zde odpověď na Vaše otázky? Zeptejte se nás přímo!</div>
                <button>Zeptejte se nás <i class="fa fa-arrow-right"></i></button>
            </article>

        </div>
        <div class="m-section--item">

            <article class="m-bulletin">
                <header>
                    <h1 class="m-bulletin--hed">Podpora pro zákazníky</h1>
                </header>
                <form action="">
                    <div class="input-group">
                        <input type="text" />
                        <button><i class="fa fa-envelope"></i></button>
                    </div>
                </form>
                <div>Odběrem našeho měsíčního ebulletinu získáte přehled o dění ve světě modulární architektury i o novinkách systému modulární výstavby KOMA.</div>

            </article>

        </div>
    </div>

</div>
