<div class="m-section l-navigation">

    <div class="row">
        <div class="l-prev m-card_nav">

            <article class="m-story">
                <header>
                    <div class="m-item--image" style="background-image: url(http://lorempixel.com/400/600)">
                        <a href="">
                            <img src="http://lorempixel.com/400/600" alt="" />
                        </a>
                    </div>
                    <div class="m-item--summary">
                        <h1 class="m-item--hed">
                            <a href="">Nízkoenergetická firemní školka v Otrokovicích, CZ</a>
                        </h1>

                        <div class="m-item--description">
                            <p>Morbi vulputate ac quam quis feugiat. Mauris dapibus dictum ex, at sodales mauris rutrum vel. Suspendisse vestibulum enim sit amet ultricies hendrerit.</p>
                        </div>
                    </div>
                </header>
            </article>
        </div>

        <div class="l-next m-card_nav">
            <article class="m-story">
                <header>
                    <div class="m-item--image" style="background-image: url(http://lorempixel.com/400/600)">
                        <a href="">
                            <img src="http://lorempixel.com/400/600" alt="" />
                        </a>
                    </div>
                    <div class="m-item--summary">
                        <h1 class="m-item--hed">
                            <a href="">Nízkoenergetická firemní školka v Otrokovicích, CZ</a>
                        </h1>

                        <div class="m-item--description">
                            <p>Morbi vulputate ac quam quis feugiat. Mauris dapibus dictum ex, at sodales mauris rutrum vel. Suspendisse vestibulum enim sit amet ultricies hendrerit.</p>
                        </div>
                    </div>
                </header>
            </article>
        </div>
    </div>

</div>
