<div class="l-coverlines">

    <div class="m-coverlines">
        <div class="m-coverlines--container">
            <div class="m-coverlines--logo"><img src="http://lorempixel.com/340/100/fashion/1/" alt="" /></div>
            <article>include article content type</article>
            <article>include article content type</article>
        </div>
    </div>

</div>
