<div class="m-section_vertical-tabs">

    <div class="m-section--container">
        <div slick>
            <div class="row">

                <header class="m-section--header">
                    <div class="l-full">
                        <h2 class="m-section--hed mm-big">Služby</h2>
                    </div>
                </header>


                <div class="m-section--nav" carouselnav>
                    <nav>
                        <ul>
                            <li slick-to="1"><a href="">Technická pomoc</a></li>
                            <li slick-to="2"><a href="">Finanční</a></li>
                            <li slick-to="3"><a href="">Logistické</a></li>

                            <li slick-to="4"><a href="">Bazar</a></li>
                            <li slick-to="5"><a href="">Pronájem</a></li>
                            <li slick-to="6"><a href="">Servis</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="m-section--carousel" carousel>

                {% for s in 1..6 %}
                    <div class="slide m-card_thumb">
                        <article class="m-story">
                            <header>
                                <div class="m-item--image" style="background-image: url(http://lorempixel.com/400/600)">
                                    <a href="">
                                        <img src="http://lorempixel.com/400/600" alt="" />
                                    </a>
                                </div>
                                <h1 class="m-item--hed">
                                    <a href="">titulek titulek</a>
                                </h1>

                                <div class="m-item--description">
                                    <p>Morbi vulputate ac quam quis feugiat. Mauris dapibus dictum ex, at sodales mauris rutrum vel. Suspendisse vestibulum enim sit amet ultricies hendrerit.</p>
                                </div>
                            </header>
                        </article>
                    </div>
                {% endfor %}

            </div>

        </div>
    </div>


</div>
