<div class="m-section l-section_side-triple">

    <div class="l-grid">

        <h2 class="m-section--hed mm-big mm-tiny">blalalal</h2>

        {% for a in 1..3 %}
            <div class="l-section--item m-card_image">

                {% include 'subtemplates/base-item.twig' with {'contentType': 'm-story', 'class': ''} %}

            </div>
        {% endfor %}

    </div>
    <div class="row">
        <footer class="m-section--footer">
            <div class="l-left">
                <div class="m-section--top"><a href="">Nahoru <i class="fa fa-arrow-up"></i></a></div>
            </div>
            <div class="l-center">
                {% include 'subtemplates/base-pagination.twig' %}
            </div>
            <div class="l-right">
                <div class="m-section--more"><a href="">Celý archiv <i class="fa fa-arrow-right"></i></a></div>
            </div>
        </footer>
    </div>
</div>
