<div class="m-section l-section_side-triple">

    <div class="l-grid">
        <h2 class="m-section--hed mm-big mm-tiny">blalalal</h2>

        {% for a in 1..3 %}
            <div class="l-section--item">
                <article class="m-story">
                    <header>
                        <div class="m-item--image">
                            <a href="">
                                <img src="http://lorempixel.com/400/600" alt="" />
                            </a>
                        </div>
                        <h1 class="m-item--hed">
                            <a href="">titulek titulek</a>
                        </h1>

                        <div class="m-item--description">
                            <p>Morbi vulputate ac quam quis feugiat. Mauris dapibus dictum ex, at sodales mauris rutrum vel. Suspendisse vestibulum enim sit amet ultricies hendrerit.</p>
                        </div>
                    </header>
                </article>
                <div class="m-card--more"><i class="fa fa-arrow-right"></i></div>

            </div>
        {% endfor %}

    </div>
    <div class="row">
        <footer class="m-section--footer">
            <div class="l-half">
                <div class="m-section--top"><a href="">Nahoru <i class="fa fa-arrow-up"></i></a></div>
            </div>
            <div class="l-half">
                <div class="m-section--more"><a href="">Celý archiv <i class="fa fa-arrow-right"></i></a></div>
            </div>
        </footer>
    </div>
</div>
