html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}

body {
    overflow-x: hidden;
}


.hide {
    display: none;
}
