html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

//*, *:before, *:after {
//    box-sizing: inherit;
//    -webkit-font-smoothing: antialiased;
//}

body {
    overflow-x: hidden;
    line-height: 150%;
}


.row {
    @include l-grid();
}

.hide {
    display: none;
}

.inline {
    @include inline-list(left, 20px);
}

.inline-right {
    @include inline-list(right, 20px);
}



