html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    overflow-x: hidden;
    line-height: 150%;
}

::selection {
    background: $color-selection; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: $color-selection; /* Gecko Browsers */
}

.row {
    @include l-grid();
}

.hide {
    display: none;
}

.inline {
    @include inline-list(left, 20px);
}

.inline-right {
    @include inline-list(right, 20px);
}



