.l-row,
.l-grid {
    @include l-grid();
}

.l-full {
    @include column(1);
    overflow: hidden;
}

.l-half {
    @include column(1/2);
    overflow: hidden;
}

.l-single {
    overflow: hidden;
}

.l-underlay {
    z-index: -1;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
