


// base section layout item
.l-section--item {
    overflow: hidden;
}

// side-triple section layout
.l-section_side-triple {

    .m-section--hed {
        @include column(1);
        @include media(C) {
            @include column(2/4);
        }
    }

    .l-section--item {
        $cellheight: 120px;

        @include column(1/2);
        overflow: hidden;

        &:nth-of-type(1) {
            height: 2 * $cellheight + $gutter;
            @include move(1/2);
        }

        &:nth-of-type(2),
        &:nth-of-type(3),
        {
            height: $cellheight;
            @include move(-1/2);
        }
        &:nth-of-type(2) {
            margin-bottom: $gutter;
        }
    }

    @include media(B) {
        .l-section--item {
            $cellheight: 200px;
            &:nth-of-type(1) {
                height: 2 * $cellheight + $gutter;
            }

            &:nth-of-type(2),
            &:nth-of-type(3),
            {
                height: $cellheight;
            }
        }
    }

    @include media(C) {

        .l-section--item {
            $cellheight: 140px;
            @include column(1/4);
            overflow: hidden;

            &:nth-of-type(1) {
                height: 2 * $cellheight + $gutter;
                @include move(1/4);
            }

            &:nth-of-type(2),
            &:nth-of-type(3),
            {
                height: $cellheight;
                @include move(-1/4);
            }
            &:nth-of-type(2) {
                margin-bottom: $gutter;
            }

        }
    }

    @include media(D) {
        .l-section--item {
            $cellheight: 200px;
            &:nth-of-type(1) {
                height: 2 * $cellheight + $gutter;
            }

            &:nth-of-type(2),
            &:nth-of-type(3),
            {
                height: $cellheight;
            }
        }
    }
}

.l-section_support {
    .m-section--item {

        &:nth-of-type(1) {
            @include column(1);
        }
        &:nth-of-type(2) {
            @include column(1);
        }


        @include media(B) {
            &:nth-of-type(1) {
                @include column(5/12);
            }
            &:nth-of-type(2) {
                @include column(7/12);
            }
        }

        @include media(C) {

            &:nth-of-type(1) {
                @include column(3/12);
                @include move(1/12);
            }
            &:nth-of-type(2) {
                @include column(5/12);
                @include move(3/12);
            }
        }
    }

}



