$offcanvas-width: 300px;

.l-offcanvas--menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $offcanvas-width;
    margin: 0;
    overflow: hidden;
    background-color: black;
    z-index: 0;
}

.l-offcanvas--overlay {
    content: "";
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease all;
}

.l-offcanvas--close {
    background-color: white;
    color: black;
    position: absolute;

    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    right: 10px;
    top: 10px;
    z-index: 1001;

}

.l-offcanvas--pusher {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

}

.l-offcanvas--slide {

    transition: .3s ease all;
    transform: translateX(0);
}

.l-offcanvas {

    transition: .3s ease all;

    &.mm-open {



        .l-offcanvas--slide {
            transition: .3s ease all;
            transform: translateX($offcanvas-width);
            &.is-hidden {
                display: none;
            }
        }

        .l-offcanvas--overlay {
            opacity: 0.8;
            visibility: visible;
            transition: .3s ease all;
        }

    }
}
