$feature-height: 800px !default;
$feature-height_mobile: 600px !default;
$feature-header-height: 360px !default;

$feature-content-height: $feature-height - $feature-header-height;
$feature-content-height_mobile: $feature-height_mobile - $feature-header-height;

.l-page {

    // FEATURE PAGE

    .l-feature {
        position: absolute;
        height: $feature-height_mobile;
        width: 100%;
        z-index: -1;
        display: none;

        &:after {
            position: absolute;
            display: block;

            content: "";
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            background-color: rgba(0, 0, 0, .25);
        }
    }

    &.mm-feature {

        .l-feature {
            display: block;
            background-image: url("http://lorempixel.com/900/600");
            background-size: cover;
            background-position: center;
            background-attachment: fixed;

        }
        .l-navbar {
            height: $feature-height_mobile;
        }
    }

    @include media(C) {
        .l-feature {
            height: $feature-height;
        }

        &.mm-feature {
            .l-navbar {
                height: $feature-height;
            }
        }
    }

    .m-body--content {
        padding-top: $space * .75;
    }

}
