$offcanvas-width: 300px;
$offcanvas-text-color: #5C5C5C;
$offcanvas-hover-color: $color-primary;
$offcanvas-border-color: lighten($offcanvas-text-color, 40%);

.l-offcanvas--menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $offcanvas-width;
    margin: 0;
    overflow: hidden;
    background-color: #f5f5f5;
    opacity: 0;
    z-index: 0;
    transition: .5s ease opacity;
}

.l-offcanvas--overlay {
    content: "";
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease all;
}

.l-offcanvas--pusher {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

}

.l-offcanvas--slide {

    transition: .3s ease all;
    transform: translateX(0);
}

.l-offcanvas {

    transition: .3s ease all;

    &.mm-open {

        .l-offcanvas--menu {
            opacity: 1;
        }

        .l-offcanvas--slide {
            transition: .3s ease all;
            transform: translateX($offcanvas-width);
            &.l-sticky {
                display: none;
            }
            &.l-sticky.is-open {
                display: block;
            }

        }

        .l-offcanvas--overlay {
            opacity: 0.8;
            visibility: visible;
            transition: .3s ease all;
        }

    }
}

// module

.m-offcanvas {
}

.m-offcanvas--close {
    background-image: url("/assets/images/close-offcanvas-button.svg");
    background-position: center;
    background-repeat: no-repeat;

    color: $offcanvas-text-color;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    position: absolute;
    text-align: center;

    right: 16px;
    top: 16px;
    width: 32px;
    &:hover {

        border: 1px solid black;
    }
}

.m-offcanvas--menu,
.m-offcanvas--panel {
    @include tk-nexa-book();
    list-style: none;
    margin: 20px;
    padding: 0;
    padding-bottom: 20px;

    border-bottom: 1px solid $offcanvas-border-color;

    em {
        font-style: normal;
    }
}

.m-offcanvas--menu {
    &:last-of-type {
        border-bottom: none;
    }
}

.m-offcanvas--panel {
    &.mm-last {
        position: absolute;
        bottom: 0;
        padding: 0;
        padding-top: 20px;
        border: none;
        border-top: 1px solid $offcanvas-border-color;
    }
}

.m-offcanvas--menu-link {
    line-height: 2em;
    color: $offcanvas-text-color;
    a {
        color: $offcanvas-text-color;
        text-decoration: none;
        &:hover {
            color: $offcanvas-hover-color;
        }
    }
}

.m-offcanvas--label {
    font-size: rem-calc(32);
    line-height: 1em;
}
