// all layout default, base grids etc

$defaultSizeA: 320px !default;
$defaultSizeB: 640px !default;
$defaultSizeC: 960px !default;
$defaultSizeD: 1400px !default;

$A: $defaultSizeA;
$B: $defaultSizeB;
$C: $defaultSizeC;
$D: $defaultSizeD;

$susy: (
        columns: 12,
        gutters: 0,
        math: fluid,
        gutter-position: inside,
        container: 100%,
        container-position: center,
);

$defaultGrid: (container: 96%);

$defaultGridB: (container: 620px);

$defaultGridC: (container: 940px);

$defaultGridD: (container: 1200px);


// base containers
@mixin l-grid() {


    @include container($defaultGrid);

    @include susy-media($defaultSizeB) {
        @include container($defaultGridB);
    }

    @include susy-media($defaultSizeC) {
        @include container($defaultGridC);
    }

    @include susy-media($defaultSizeD) {
        @include container($defaultGridD);
    }
}


