// layouts for feed sections
// feed can be list, grid or any other content loop

@mixin base-l-feed() {

    $card-radius: 0;
    $card-shadow: 0 3px 1px rgba(0, 0, 0, .2);
    $card-shadow: none;

    @include cf();

    position: relative;

    .l-single,
    .l-double,
    .l-full {
        margin-bottom: $space;
        border-radius: $card-radius;
        box-shadow: $card-shadow;
    }

    // fix bottom item margins
    margin-bottom: -1 * $space * .75;
    overflow: hidden;
}

.l-feed {

    &[layout-mansonry] {

        > {
            .l-single,
            .l-double,
            .l-full {
                position: relative;
                margin: 30px 30px;
                margin-top: 0;



                width: calc(100% - 60px);
                height: auto;

                @include media(B) {
                    width: 580px;

                    margin: 30px 30px;
                    margin-top: 0;
                }

                @include media(B) {
                    margin: 60px 30px;
                    margin-top: 0;
                }
            }

        }

        @include media(C) {
            > .l-single {
                height: 400px;
                width: 400px;

                //@include media(C) {
                //    @include column(1/2, $gut: 60px);
                //}
                //@include media(D) {
                //    @include column(1/3, $gut: 60px);
                //}
            }

            > .l-double {
                height: 400px;
                width: 860px;
                //@include media(C) {
                //    @include column(1, $gut: 60px);
                //}
                //@include media(D) {
                //    @include column(2/3, $gut: 60px);
                //}
            }

            > .l-full {
                height: 600px;
                width: 860px;
                @include media(D) {

                    width: 1320px;
                }
                //@include media(C) {
                //    @include column(1, $gut: 60px);
                //}
                //@include media(D) {
                //    @include column(2/3, $gut: 60px);
                //}
            }
        }

        .l-tall {
            height: 600px;
            @include media(C) {
            height: 860px;

                }
        }
    }
    //@include base-l-feed();

}

// test custom layouts
/*
.l-feed[layout-dancer] {
    .l-single {
        &:nth-child(1),
        &:nth-child(2) {
            @include column(2/4);
        }

        &:nth-child(3) {
            @include column(1);
        }
        &:nth-child(8) {
            @include column(1/3);
        }
        &:nth-child(9) {
            @include column(2/3);
        }
    }
}

.l-feed[layout-dancer2] {
    .l-single {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            @include column(1/3);
        }

        &:nth-child(4),
        &:nth-child(5) {
            @include column(1);
        }
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
            @include column(1/3);
        }
        &:nth-child(9) {
            @include column(1);
        }
    }
}

.l-feed_block-carousel {

    $block-carousel-gutter: 0px;

    width: 100%;
    overflow: hidden;

    .m-section--content {
        .l-single,
        .l-double,
        .l-half {
            overflow: hidden;
            margin-bottom: $block-carousel-gutter;
            height: 210px;

            @include media(C) {
                height: 210px;
                margin-bottom: $block-carousel-gutter;
            }
            @include media(D) {
                height: 294px;
                margin-bottom: $block-carousel-gutter;
            }
        }

        // fix row height
        margin-bottom: - $block-carousel-gutter;
    }

    .l-single {
        @include column(1/2, $gut: $block-carousel-gutter);
        @include media(C) {
            @include column(1/2, $gut: $block-carousel-gutter);
        }
    }

    .l-double {
        @include column(1, $gut: $block-carousel-gutter);

        @include media(C) {
            @include column(1, $gut: $block-carousel-gutter);
        }
    }

    .slick-list {
        overflow: visible !important;
    }

    .slick-slide {
        opacity: .2;
        @include transition(opacity 0.3s);
        &.slick-active {
            @include transition(opacity 0.3s);
            opacity: 1;
        }
    }

    // override card height to fit block carousel layouts
    [class*=m-card] {
        height: 100%;
    }

}

*/




