$navbar-sticky-height: 48px !default;

.l-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $navbar-sticky-height;
    overflow: hidden;
    z-index: 100;

    // animations and hiding

    $offset: -99px;
    @include transform(translateY($offset));
    @include transition(all 0.3s);

    &.is-open {
        $offset: 0;
        @include transform(translateY($offset));
        @include transition(all 0.2s);
    }
}

