
// google fonts

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);
$ff-open-sans: 'Open Sans', sans-serif;

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900,500);
$ff-roboto: 'Roboto', sans-serif;

// OPEN SIL

$ff-novecento: 'Novecento Wide', sans-serif;
$ff-montserrat: 'Montserrat', sans-serif;
