// color code setup

//@todo replace skin by maps only

$color-primary:     #C20E1A;
$color-secondary:   #B5BBB4;

// color base text
$color-black:       #000;
$color-body-font:   #4A4A4A;
$color-body-bg:     #ECEDEC;

// color custom schema

$pallete: (
        "c1": #7AB929,
        "c2": #6DC1AE,
        "c3": #4E9ED8,
        "c4": #7D83BF,
        "c5": #9C6FAE,
        "c6": #E8308A,
        "c7": #E50051,
        "c8": #EC6608,
        "c9": #F4B003,
        "c10": #B5BBB4
);

@function pallete($key) {
    @return map-get($pallete, $key);
}

span {
    &.color-primary { color: $color-primary; }
    &.color-secondary { color: $color-secondary; }
    &.color-black { color: $color-black; }
    &.color-body-font { color: $color-body-font; }
    &.color-body-bg { color: $color-body-bg; }

    @each $colorName, $colorValue in $pallete {
        &.color-#{$colorName} { color: $colorValue; }
    }
}
