// color code setup

$color-primary:     #C20E1A;
$color-secondary:   #B5BBB4;

// color base text
$color-black:       #000;
$color-body-font:   #4A4A4A;
$color-body-bg:     #ECEDEC;

// color custom schema
$color-pallete-c1:  #7AB929;
$color-pallete-c2:  #6DC1AE;
$color-pallete-c3:  #4E9ED8;
$color-pallete-c4:  #7D83BF;
$color-pallete-c5:  #9C6FAE;
$color-pallete-c6:  #E8308A;
$color-pallete-c7:  #E50051;
$color-pallete-c8:  #EC6608;
$color-pallete-c9:  #F4B003;
$color-pallete-c10: #B5BBB4;
