// color code setup

//@todo replace skin by maps only

$color-primary:     #C20E1A;
$color-primary-light:     #C20E1A;
$color-primary-dark:     #C20E1A;

$color-secondary:   #B5BBB4;
$color-secondary-light:   #F8F8F8;
$color-secondary-dark:   #F8F8F8;


// color base text
$color-black:       #000;
$color-white:       #fff;

$color-body-font:   #4A4A4A;
$color-body-bg:     #ECEDEC;

// color custom schema

$pallete: (
        "1": #7AB929,
        "2": #6DC1AE,
        "3": #4E9ED8,
        "4": #7D83BF,
        "5": #9C6FAE,
        "6": #E8308A,
        "7": #E50051,
        "8": #EC6608,
        "9": #F4B003,
        "10": #B5BBB4,
        "primary": $color-primary,
        "primary-light": $color-primary,
        "primary-dark": $color-primary,
        "secondary": $color-secondary,
        "secondary-light": $color-secondary-light,
        "secondary-dark": $color-secondary-light,
        "black": $color-black,
        "white": $color-white,
        "body-font": $color-body-font,
        "body": $color-body-bg
);

@function pallete($key) {
    @return map-get($pallete, $key);
}

// colors

@each $colorName, $colorValue in $pallete {
    .c-#{$colorName} { color: $colorValue; }
}

// bg colors
@each $colorName, $colorValue in $pallete {
    .bg-#{$colorName} { background-color: $colorValue; }
}
