$feature-height: 600px;
$feature-content-height: $feature-height - 360px;


// componentns
@import "../components/normalize-scss/normalize";
@import "../components/bourbon/app/assets/stylesheets/bourbon";
@import "../components/lost-grid/scss/lost";
// typekit
@import "typekit/base";
@import "typekit/nexa";
@import "typekit/proxima-nova";
@import "typekit/source-sans-pro";
// libraries
@import "lib/functions";
@import "lib/custom-underline";
@import "lib/inline-lists";
@import "lib/vertical-align";
@import "lib/element-queries";
// settings
@import "settings/settings";
@import "settings/fonts";
@import "settings/colors";
@import "settings/media";
@import "settings/grid";
@import "base/globals";
@import "modules/module-placeholder";
// layouts and modules
@import "layouts/layout-base";
@import "layouts/layout-section";
@import "layouts/layout-offcanvas";
@import "layouts/layout-navbar";
@import "layouts/layout-sticky";
@import "layouts/layout-feed";
@import "layouts/layout-navigation";
//@import "layouts/layout-page-detail-full";
@import "modules/module-side-panel";
@import "modules/module-navbar";
@import "modules/module-footer";
@import "modules/module-body-content";
//@import "modules/module-pagination";
@import "modules/module-coverlines";
@import "modules/module-section";
@import "modules/module-aside-block";
@import "modules/module-gallery";
@import "modules/module-carousel";
@import "modules/module-content-item";
@import "modules/module-card";
@import "modules/module-filter";
@import "modules/module-properties";
@import "modules/module-banner";
@import "modules/module-basic-page";
@import "modules/module-content-story";
@import "modules/module-content-reference";
@import "modules/module-content-contact";
@import "modules/module-layout-object";
@import "not-modular/hero-tabs";
// external JS overrides
@import "external/chosen";
@import "external/slick";
// dev
@import "dev-flex";

// dev





* {
    box-sizing: border-box;
}

// search

.m-search--hed {
    text-align: center;
    padding-bottom: $space * .75;
}

.m-search--filters {

    .views-exposed-widget:nth-of-type(1) {
        float: left;
        width: calc(100% - 100px);
        padding: 0;
    }
    .views-exposed-widget:nth-of-type(2) {
        float: left;
        width: 100px;
        padding: 0;
    }

    label {
        display: none;
    }

    .form-submit,
    .form-text {
        height: 59px;
        margin: 0 !important;
        display: inline-block;
    }
    .form-text {
        width: 100%;
    }
    .form-submit {
        border: 0;
        width: 100%;
        background-color: $color-primary;
        color: white;
        &:hover {
            background-color: darken($color-primary, 10%);
        }
        input:focus {
            outline: none;
        }
    }
}

.m-search--description {
    line-height: 1.8em;
}

.m-search--noresults {
    .m-search--description {
        max-width: 60%;
        margin: 0 auto;
        text-align: center;
    }
}

.l-page--container {
    position: relative;
    z-index: 10;

    background-color: $color-body-bg;
}

.l-page {

    .l-feature {
        position: absolute;
        height: $feature-height;
        width: 100%;
        z-index: -1;
        display: none;

        &:after {
            position: absolute;
            display: block;

            content: "";
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            background-color: rgba(0,0,0,.25);
        }
    }

    &.mm-feature {

        .l-feature {
            display: block;
            background-image: url("http://lorempixel.com/900/600");
            background-size: cover;
            background-position: center;
            background-attachment: fixed;



        }

        .l-navbar {
            height: $feature-height;
        }


    }

    .m-body--content {
        padding-top: $space * .75;
    }
}



