<div class="m-dump">
    <style>
        .m-dump {
            font-size: 11px !important;
            border: 1px solid indianred;
            background-color: #ffd;
            padding-left: 10px;
        }
    </style>
    <pre>{{ dump() }}</pre>
</div>
