
.m-filter {
    font-family: $font-family-ui;
    margin-bottom: 30px;

    .active-result {
        font-weight: 400;
    }

    .category {
        font-weight: 800;
    }

    .l-left {
        @include column(9/12);

        .m-filter--items {
            @include inline-list(left);
            overflow: visible;
        }
    }

    .l-right {
        @include column(3/12);
        text-align: right;

        .m-filter--items {
            @include inline-list(right);
            overflow: visible;
        }
    }

    .m-filter--items {

        > li {
            width: auto;
            //max-width: 140px;
            color: $color-black;
            height: 48px;
            display: block;

            &.label {
                padding: 0 14px;
                color: $color-secondary;
                background-color: white;
                height: 48px;
                margin-right: 1px;
                line-height: 42px;
                width: auto;
                border: none;
            }
        }
    }

}
