@mixin m-card-autolayout() {
    &.mm-auto {
        height: 100% !important;
    }
}

@mixin m-card() {

    @include m-card-autolayout();

    position: relative;
    overflow: hidden;

    article,
    .m-item--header {
        position: relative;
        height: 100%;
    }

    a {
        color: $color-black;
        text-decoration: none;
        &:hover {
            color: $primary-color;
            text-decoration: underline;
        }
    }

    p {
        margin: 0;
    }

    .m-item--image {
        img {
            width: 100%;
            height: auto;
            display: none;
        }
    }

    .m-item--more {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }

}

@mixin m-card-image {
    @include m-card();

    height: 300px;

    color: white;
    a {
        color: white;
    }

    .m-item--description {
        pointer-events: none;
        position: absolute;
        opacity: 0;
        padding: 30px;
        color: white;
        @include transition(opacity .3s);
    }

    .m-item--image {
        position: absolute;
        top: 0;
        bottom: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;

        a {
            display: block;
            width: 100%;
            height: 100%;

            &:before {
                position: absolute;
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background-color: transparent;
                opacity: 0.2;
            }

        }

        img {
            display: none;
        }

    }
    .m-item--summary {
        height: 100%;
    }

    .m-item--header {
        margin: 0;
        padding: 0;
    }

    .m-item--more {
        position: absolute;
        bottom: 30px;
        right: 30px;
        left: auto;
    }

    .m-item--hed {
        position: absolute;
        bottom: 30px;
        left: 30px;
        width: 80%;

        margin: 0;
        line-height: 1.3em;
        color: white;
        text-shadow: 0 2px 80px rgba(0, 0, 0, 0.9);

        a {
            color: white;
        }


    }

    @include cw(300) {
         .m-item--hed {
            font-size: rem-calc(24);
         }
        .m-item--description {
            font-size: rem-calc(18);
        }
     }

    @include cw(400) {
        .m-item--hed {
            font-size: rem-calc(28);
        }
        .m-item--description {
            font-size: rem-calc(20);
        }
    }

    @include cw(800) {
        min-height: 450px;
        .m-item--hed {
            font-size: rem-calc(36);
        }
        .m-item--description {
            font-size: rem-calc(22);
            width: 60%;
        }
    }


    .m-item--image {
        a {
            &:before {
                @include transition(all 0.3s);
                background-color: $color-primary; //pallete(1);
                opacity: 0;
            }
        }

    }

    @each $colorName, $colorValue in $pallete {
        &.mm-color-#{$colorName} {
            .m-item--image {
                a {
                    border-top: 4px solid transparent;
                    border-top-color: $colorValue; //pallete(1);
                    &:before {
                        background-color: $colorValue; //pallete(1);
                        opacity: .4;
                    }
                }

            }
        }
    }

    &:hover {
        .m-item--image a:before {
            @include transition(all 0.3s);
            opacity: 0.8;
        }

        .m-item--description {
            position: absolute;
            //display: block;
            opacity: 1;
            padding: 30px;
            color: white;
            @include transition(opacity .3s);
        }

        .m-card--more {
            display: none;
        }
    }
}

.m-card_standard {
    @include m-card();
    background-color: white;

    .m-item--image {
        height: 181px;
        overflow: hidden;
    }

    .m-item--header {
        position: relative;
    }

    .m-item--hed {
        margin-bottom: 14px;
    }

    .m-item--summary {
        position: relative;
        padding: 20px;
        min-height: 120px;
        height: 100%;
    }

    .m-item--meta {
        font-size: rem-calc(12);
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .m-item--more {
        display: none;
        position: absolute;
    }

    // if card is bigger then 600px
    @include cw(600) {
        position: relative;
        height: 300px;

        .m-item--header {
            height: 100%;
        }

        .m-item--image {
            float: left;
            width: 50%;
            height: 100%;
            margin-right: 30px;
            a {
                height: 100%;
                width: auto;
                display: block;
                background-size: cover;
            }
        }

        .m-item--meta {
            padding-bottom: 0;
            position: absolute;
            bottom: 48px;
            left: calc(50% + 10px);
        }

        .m-item--more {

            display: block;
            left: calc(50% + 30px);
        }

    }

    // if card is bigger then 600px
    @include cw(1200) {
        height: 500px;
        .m-item--image {
            width: 75%;
        }

        .m-item--meta {
            display: block;
            left: calc(75% + 10px);
        }

        .m-item--more {
            left: calc(75% + 30px);
        }
    }
}

.m-card_image {
    @include m-card-image();
}

.m-card_nav {
    @include m-card();

    .m-item--more,
    .m-item--description,
    .m-item--meta {
        display: none;
    }

    .m-item--summary {
        position: relative;
        height: 100%;
    }

    &:hover {
        .m-item--image a:after {
            font-family: FontAwesome;

            display: block;
            position: absolute;
            content: "";

            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            text-align: center;
            color: white;
            line-height: 53px;
            background-color: rgba(0, 0, 0, .45);
        }

        .m-item--hed a {
            color: $primary-color;
            text-decoration: none;
        }
    }

    .m-item--image {
        width: 70px;
        height: 53px;
        overflow: hidden;
        position: relative;

        a {
            height: 100%;
            width: 100%;
            display: block;
        }

        img {
            width: 100%;
            height: auto;
            display: none;
        }
    }

    .m-item--hed {
        @include vertical-align();
        font-weight: 400;
        font-size: rem-calc(14);
    }

}


