@mixin m-section-base() {
    border: 1px solid #99f;
    padding: 0;
    height: auto;
    position: relative;

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 0;
    }

    &.mm-no-header {
        .m-section--header {
            display: none;
        }
    }
    &.mm-no-footer {
        .m-section--footer {
            display: none;
        }
    }

    .mm-small {
        font-size: rem-calc(16);
    }
    .mm-medium {
        font-size: rem-calc(36);
    }

    .mm-big {
        font-size: rem-calc(50);
    }

    .mm-tiny {
        font-weight: 200;
    }

    .mm-normal {
        font-weight: 400;
    }

    .mm-bold {
        font-weight: 600;
    }

    .mm-center {
        text-align: center;
    }

    &.mm-has-background {
         background-position: center;
         background-size: cover;
     }

    &.mm-fixed-background {
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    .m-section--close {
        position: absolute;
        z-index: 1;

        right: 0;
        top: 0;
        content: "x";
        color: white;
        display: block;
        width: 30px;
        height: 30px;
        font-size: 30px;
        line-height: 26px;
        text-align: center;

        cursor: pointer;
    }

    .mm-pad-double,
    &.mm-pad-double {
        padding-top: $space * 1.5;
        padding-bottom: $space * 1.5;
    }


    .row.rowfix {
        margin-bottom: -31px;
        overflow: hidden;
    }

    .l-half + .l-half {
        text-align: right;
    }

}

.m-section--header,
.m-section--footer,
.m-section--content {
    @include l-grid();
    //border: 1px solid red;
    position: relative;
    width: 100%;
    height: 100%;
}

.m-section--content {}

.m-section--header,
.m-section--footer {

    @include cf();
    @include font-ui();
    text-transform: uppercase;
    font-weight: 800;
    padding-top: $space;
    padding-bottom: $space;

    a {
        text-decoration: none;
        color: $color-body-font;

        &:hover {
            color: $color-primary;
            text-decoration: underline;
        }
    }
}

// base section hed style
.m-section--hed {
    @include font-headline();
    font-size: rem-calc(30);
    text-transform: uppercase;
    line-height: 1.2em;
    font-weight: 100;

    &.mm-border {
        border: 2px solid black;
        color: black;

        display: inline-block;
        line-height: 1em;
        padding: 12px;
        padding-top: 8px;

        margin-left: 50%;

        margin-top: 20px;
        margin-bottom: 20px;

        @include transform(translateX(-50%));

        &.color-white {
            border-color: white;
            color: white;
        }
    }

}

// base section underlay
.m-section--underlay {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: auto;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;

}

// base section module style
.m-section {
    @include m-section-base();
}

.m-section_vertical-tabs {
    @include m-section-base();
    position: relative;
    background-color: $primary-color;

    padding-top: 0;
    padding-bottom: 0;

    //height: 100%;
    overflow: hidden;

    .m-section--container {
        height: 100%;
        position: relative;
    }

    .m-section--header {

        @include column(1, $gut: 0);
        overflow: hidden;
        margin-bottom: 0;
        color: white;

        @include media(C) {
            @include column(4/12, $gut: 0);
            height: 100%;
        }
    }

    .m-section--hed {
        margin-bottom: 20px;
        text-align: center;
        @include media(C) {
            text-align: left;
        }
    }

    .m-section--nav {

        @include column(1);

        position: relative;
        height: auto;
        display: block;

        @include media(C) {
            @include column(2/12, $gut: 0);
            margin: 0;
            height: 100%;
            padding-top: 50px;
            padding-bottom: 50px;

        }

        ul {
            height: 100%;
            margin: 0;
            padding: 0;
            padding-bottom: 40px;
            list-style-type: none;
            @include cf();

            li {
                width: (100 / 2) * 1%;
                float: left;
                display: table;
                a {
                    display: table-cell;
                    vertical-align: middle;
                    color: white;
                    font-weight: 600;
                    text-decoration: none;
                    height: 36px;
                    text-align: center;
                }
            }

            @include media(B) {

                li {
                    width: (100 / 6) * 1%;
                    a {

                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;

                        height: 64px;
                    }

                    &.active {
                        a {
                            font-weight: 800;
                        }

                    }
                }

            }

            @include media(C) {
                padding-bottom: 16px;
                li {
                    overflow: visible;
                    float: none;
                    width: 100%;
                    margin: 0;
                    padding: 0;

                    position: relative;
                    a {

                        color: white;
                        font-weight: 600;
                        text-decoration: none;
                        margin: 0;
                        padding: 0;
                        padding-right: 10px;
                        text-align: left;

                    }

                    &.active {
                        a {
                            font-weight: 800;
                        }
                        &:after {
                            display: block;
                            width: 64px;
                            height: 64px;
                            background-color: $primary-color;
                            color: white;
                            text-align: center;
                            position: absolute;
                            top: 0;
                            right: -64px;
                            z-index: 100;

                            font: normal normal normal 14px/62px FontAwesome;
                            font-size: inherit;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            transform: translate(0, 0);
                            content: "\f061";
                        }
                    }

                }
            }

        }
    }

    .m-section--carousel {

        @include cf();
        width: 100%;
        height: 100%;
        //height: 300px;

        .slide {
            width: 100%;
            height: 100%;
            background: $secondary-color;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &.slick-slider {
            margin-bottom: 0;
        }

        .slick-list {
            height: 100% !important;
        }
        .slick-track {
            height: 100%;
        }

        .slick-next,
        .slick-prev {
            display: none !important;
        }

        @include media(C) {
           // height: 500px;

            overflow: hidden;
            position: absolute;

            margin: auto;

            left: 50%;
            width: 50%;
            right: 0;
            top: 0;
            bottom: 0;

            .slide {
                //height: 500px;
            }
        }
    }
}
