@mixin m-section-base() {
    border: 2px solid gray;
    padding: 50px 0;
    height: auto;
    position: relative;

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 0;
    }

}

.m-section--header,
.m-section--footer {

    @include cf();

    text-transform: uppercase;
    font-weight: 800;

    a {
        text-decoration: none;
        color: $color-black;

        &:hover {
            color: $color-primary;
            text-decoration: underline;
        }
    }
}

.m-section--header {
    margin-bottom: 50px;
}

.m-section--top {
}

.m-section--more {
    text-align: right;
}

// base section hed style
.m-section--hed {
    font-size: rem-calc(30);
    text-transform: uppercase;

    &.mm-huge {
        font-size: rem-calc(50);
        font-weight: 200;
        line-height: 1.2em;
        margin-bottom: 90px;
    }

    &.mm-tiny {
        font-size: rem-calc(16);
    }

    &.mm-center {
        text-align: center;
    }

}


// base section underlay
.m-section--underlay {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: auto;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;

}

// base section module style
.m-section {
    @include m-section-base();
}
