$navbar-logo: url('/assets/images/site-logo.svg') !default;
$navbar-logo-white: url('/assets/images/site-logo-white.svg') !default;

$navbar-primary-padding: 40px;
$navbar-height: 48px;

$navbar-status-height: 24px !default;
$navbar-font-primary: $fnt-ui !default;

$navbar-color: #666 !default;
$navbar-bg-color: #fff !default;

$navbar-hover-color: $color-primary !default;
$navbar-hover-bg-color: transparent !default;

$navbar-border-color: #dfdfe3 !default;
$navbar-font-size: rem(14) !default;
$navbar-font-weight: 600 !default;
$navbar-text-transform: none !default;

// module inner default layout

.m-navbar {

    @include cf();

    font-family: $navbar-font-primary;
    font-size: $navbar-font-size;
    font-weight: $navbar-font-weight;
    text-transform: $navbar-text-transform;

    z-index: 10;
    top: 0;

    width: 100%;
    height: auto;

    em {
        font-style: normal;
    }

    .m-navbar--container {
        @include l-grid();
    }

    .m-navbar--content {
        @include column(1, $gut: 60px);
    }

    .m-navbar--menu {

        @include inline-list($direction: left, $margin-opposite: 20px, $margin-dir: 0px);
        text-transform: uppercase;

        a {

            @include transition(color .3s);

            border-top: 2px solid transparent;
            color: $navbar-color;
            cursor: pointer;
            display: block;
            height: 100%;
            line-height: $navbar-height;
            text-decoration: none;

            &:hover {
                color: $navbar-hover-color;
                background-color: $navbar-hover-bg-color;
                border-top-color: $navbar-border-color;

                @include transition(color .3s);
            }

        }
    }

    .m-navbar--menu-primary,
    .m-navbar--menu-secondary {
        @include inline-list($direction: left, $margin-opposite: 30px, $margin-dir: 30px);
        @include tk-nexa-book();
        font-weight: 600;

        color: darken(#9e9e9e, 10%);
        a {
            color: darken(#9e9e9e, 10%);
        }

    }

    .m-navbar--menu-primary {
        border-top: 1px solid $navbar-border-color;
        width: 100%;
        display: none;

        margin-bottom: 1.3em;

        .m-navbar--menu {
            @include inline-list($direction: left, $margin-opposite: 30px, $margin-dir: 0px);
            text-transform: uppercase;

        }

        @include media(C) {
            display: block;
        }
    }

    .m-navbar--menu-secondary {

        color: #9e9e9e;
        a {
            color: #9e9e9e;
        }

        @include media(C) {
            margin-bottom: 30px;
        }

    }

    .m-navbar--menu-social {
        a {
            padding: 0;
        }
        em {
            display: none;
        }
    }

    .m-navbar--menu-logo,
    .m-navbar--menu {
        height: $navbar-height;
    }

    .m-navbar--logo {

        width: 250px;
        height: $navbar-height;
        overflow: hidden;
        text-decoration: none;

        .mm-has-svg {

            background-image: $navbar-logo;

            width: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: left;

            height: $navbar-height;


            @include media(C) {
                background-position: 0 50%;
                min-height: $navbar-height;
            }
        }
    }

    .m-navbar--about {
        @include tk-nexa-thin();
        line-height: 1em;
        color: #c2c2c2;
        margin-top: 0;
        display: block;
        font-size: rem-calc(18);
        margin-bottom: 40px;

        h2 {
            font-size: rem-calc(16);
            margin: 0;
        }

        @include media(B) {
            font-size: rem-calc(17);
            margin-bottom: 30px;
            h2 {
                font-size: rem-calc(21);
            }

        }
    }

    .m-navbar--logo {
        @include column(1, $gut: 0);

        height: auto;

        h1 {
            margin-left: -4px;
        }
            margin-bottom: 0;
        @include media(B) {
            margin-bottom: 8px;
        }
        @include media(C) {
            margin-bottom: 20px;
        }
    }

    .m-navbar--about {

    }

}

.mm-feature {
    .l-page--container {
        .m-navbar {

            .m-navbar--menu-primary,
            .m-navbar--menu-secondary {
                color: white;
                a {
                    color: white;
                }
            }

            .m-navbar--menu {
                a {
                    color: white;
                    &:hover {
                        color: white;
                        border-top-color: white;
                    }
                }
            }

            .m-navbar--logo {
                .mm-has-svg {
                    background-image: $navbar-logo-white;

                }
            }

            .m-navbar--about {
                color: white;
            }
        }
    }
}

.l-sticky {
    .m-navbar {
        padding-top: 0;
        padding-bottom: 0;
        height: $navbar-sticky-height;
        background-color: $navbar-bg-color;

        .m-navbar--logo {
            width: 250px;
            float: left;
            padding: 0;
            margin: 0;
            margin-right: 16px;
            .mm-has-svg {
                width: 250px;

            }
        }

        .m-navbar--menu-logo,
        .m-navbar--menu {
            height: $navbar-sticky-height;
            a {
                line-height: $navbar-sticky-height;
            }
            a:hover {
                border-color: transparent;
            }
        }

        .m-navbar--menu-secondary,
        .m-navbar--menu-primary {
            float: left;
            width: auto;
            .m-navbar--menu-social {
                display: none;
            }
        }

        .m-navbar--menu-primary {
            border: none;
            float: left;
            @include media(C) {
                width: 540px;
            }
            @include media(D) {
                width: 900px;
            }

        }

        .m-navbar--about {
            display: none;
        }

    }
}
