@mixin m-card-autolayout() {
    &.mm-auto {
        height: 100% !important;
    }
}

@mixin m-card() {

    height: 100%;

    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;

    article,
    .m-item--header,
    .m-item--image {
        position: relative;
        height: 100%;
        overflow: hidden;
    }

    a {
        color: $color-body-font;
        text-decoration: none;
        &:hover {
            color: $color-primary;
            text-decoration: underline;
        }
    }

    p {
        margin: 0;
    }

    .m-item--image {
        img {
            width: 100%;
            height: auto;
            display: none;
        }
    }

    .m-item--more {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }

}

@mixin m-card-image {
    @include m-card();

    color: white;
    a {
        color: white;
    }

    .m-item--header {
        margin: 0;
        padding: 0;
    }

    .m-item--image {
        position: absolute;
        top: 0;
        bottom: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;

        a {
            display: block;
            width: 100%;
            height: 100%;

            &:before {
                position: absolute;
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background-color: transparent;
                opacity: 0.2;
            }

        }

        img {
            display: none;
        }

    }

    .m-item--header-content {
        pointer-events: none;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        position: relative;
        z-index: 2;
        padding-bottom: 16px;
        @include linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, .6) 100%);

    }

    .m-item--hed,
    .m-item--description,
    .m-item--meta {
        width: 80%;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        border-bottom: 2px solid white;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        line-height: 1.2em;
        padding: 1.8em;
        color: white;
    }

    .m-item--hed {
        padding-bottom: .8em;
    }
    .m-item--description {
        line-height: 1.4em;
        display: none;
    }
    .m-item--meta {
        border: none;
    }

    @include cw(800) {
        .m-item--hed,
        .m-item--description,
        .m-item--meta {
            width: 60%;
        }
        .m-item--hed {
            font-size: rem-calc(30);
            padding-bottom: 1em;
        }
    }

    .m-item--image {
        //background-size: 100%;
        //@include transition(all 0.3s);

        a {
            &:before {
                @include transition(all 0.3s);
                background-color: $color-black; //pallete(1);
                opacity: 0;
            }
        }

    }

    .m-item--more {
        left: 0;
        right: 0;
        width: 100px;
        margin: auto;
        text-align: center;
        transform: translateY(50px);
        @include transition(all 0.3s);
    }

    .m-item--hed,
    .m-item--description,
    .m-item--meta {
        @include transition(all 0.3s);
        transform: translateY(0);
    }

    &:hover {

        //.m-item--image {
        //    background-size: 110%;
        //    @include transition(all 0.3s);
        //}

        .m-item--image a:before {
            @include transition(all 0.3s);
            opacity: 0.3;
        }

        .m-item--hed,
        .m-item--description,
        .m-item--meta {
            @include transition(all 0.3s);
            transform: translateY(-30px);
        }

        .m-item--more {
            @include transition(all 0.3s);
            transform: translateY(0);
        }
    }
}

.m-carousel {
    .m-card_image {
        .m-item--header-content {
            padding-bottom: 60px;
        }
        &:hover {
            .m-item--more {
                @include transition(all 0.3s);
                transform: translateY(-60px);
            }
        }
    }
}

.m-card_standard {
    @include m-card();

    //background-color: white;

    .m-item--header {
        padding: 0;
    }

    .m-item--hed {
        text-transform: uppercase;
    }

    .m-item--more,
    .m-item--image {
        display: none;
    }

    @include media(C) {
        border-top: 2px solid $color-body-font;
        border-bottom: 2px solid $color-body-font;

        .m-item--header {
            padding: 46px 38px;
        }
        .m-item--meta {
            position: absolute;
            bottom: 38px;
        }

    }

}

.m-card_image {
    @include m-card-image();
}

.m-card_nav {
    @include m-card();

    .m-item--more,
    .m-item--description,
    .m-item--meta {
        display: none;
    }

    .m-item--summary {
        position: relative;
        height: 100%;
    }

    &:hover {
        .m-item--image a:after {
            font-family: FontAwesome;

            display: block;
            position: absolute;
            content: "";

            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            text-align: center;
            color: white;
            line-height: 53px;
            background-color: rgba(0, 0, 0, .45);
        }

        .m-item--hed a {
            color: $color-primary;
            text-decoration: none;
        }
    }

    .m-item--image {
        width: 70px;
        height: 53px;
        overflow: hidden;
        position: relative;

        a {
            height: 100%;
            width: 100%;
            display: block;
        }

        img {
            width: 100%;
            height: auto;
            display: none;
        }
    }

    .m-item--hed {
        @include vertical-align();
        font-weight: 400;
        font-size: rem-calc(14);
    }

}


