.m-reference {
}

.m-reference--image {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    img {
        display: none;
    }
    .mm-preview-fit {
        background-size: fit;
    }
}

.m-reference--hed {
    font-size: rem-calc(42);
    line-height: 1.3em;
    font-weight: 400;
    margin-top: -.2em;

    a {
        text-decoration: none;
        pointer-events: none;
        color: black;
    }
}
