$footer-copyright-height: 64px !default;

// module inner base layout

.m-footer {

    background-color: $color-body-font;
    height: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    .m-footer--container {
        @include font-ui();

        color: lighten($color-body-font, 60%);
    }

    em {
        font-style: normal;
    }

    a {
        color: lighten($color-body-font, 80%);
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .m-footer--section {

        font-size: rem-calc(14);

        &:nth-of-type(1) {
            @include column(9/12);

        }

        @include media(C) {
            &:nth-of-type(1) {
                @include column(6/12);
                margin-bottom: 0;

            }
            &:nth-of-type(2) {
                @include column(6/12);
                margin-bottom: 0;
            }
            &:nth-of-type(3) {
                @include column(3/12);
                text-align: right;
                border: none;
                margin-bottom: 0;

            }
        }
        @include media(D) {
            &:nth-of-type(1) {
                @include column(4/12);
                margin-bottom: 0;

            }
            }
    }

    .m-footer--subsection {
        @include column(1);

        font-size: rem-calc(12);
        border-top: 1px solid lighten($color-body-font, 30%);
        margin-top: 10px;
        padding-top: 10px;
    }

    .m-footer--menu-primary {
        text-transform: uppercase;
        @include inline-list(left, 30px);
    }

    .m-footer--menu-link {
        i {
            font-size: rem-calc(24px);
        }
    }

    .m-footer--logo {
        height: 64px;
        width: 200px;
        text-align: center;
        .mm-has-svg {
            height: $footer-copyright-height;
            width: 100%;
            background-size: contain;
            background-position: 0 50%;
            background-repeat: no-repeat;
        }
    }
}
