$navbar-height: 48px;

$navbar-secondary-height: 30px !default;
$navbar-status-height: 24px !default;
$navbar-font-primary: $font-family-headline !default;

$navbar-color: #666 !default;
$navbar-bg-color: #fff !default;
$navbar-hover-color: $color-primary !default;
$navbar-hover-bg-color: transparent !default;
$navbar-border-color: #dfdfe3 !default;
$navbar-font-size: rem(14) !default;
$navbar-secondary-font-size: rem(12) !default;
$navbar-font-weight: 600 !default;
$navbar-text-transform: uppercase !default;

// module inner default layout

.m-navbar {

    position: fixed;
    background-color: white;
    z-index: 9999;
    top: 0;
    @include transform(translateY(30px));

    width: 100%;
    height: auto;
    @include cf();

    .m-navbar--container {
        @include l-grid();
    }

    .m-navbar--menu-logo,
    .m-navbar--menu {
        height: $navbar-height;
    }

    &.mm-primary {

        padding-top: 40px;
        padding-bottom: 40px;

        .m-navbar--logo,
        .m-navbar--menu-primary,
        .m-navbar--menu-secondary {
            @include column(1);
            text-align: center;
        }

        @include media(C) {
            .m-navbar--logo {
                @include column(.3);
            }

            .m-navbar--menu-secondary {
                @include column(.7);
            }
        }
    }

    &.mm-secondary {

        z-index: 20;
        top: 0;
        @include transform(translateY(0));

        .m-navbar--menu-primary {
            //@include column(.4);
            width: auto;
            float: right;
        }

        .m-navbar--menu-secondary {
            //@include column(.1);
            width: auto;
            float: right;
        }

        .m-navbar--menu-tertiary {
            //@include column(.16);
            width: auto;
            float: right;
        }

        display: none;

        @include media(C) {
            display: block;
        }
    }

    &.mm-admin {
        padding-top: 16px;
        padding-bottom: 16px;
    }

}

// module default styling

.m-navbar {

    background-color: $navbar-bg-color;
    border-top: 1px solid $navbar-border-color;
    border-bottom: 1px solid $navbar-border-color;
    font-family: $navbar-font-primary;
    font-size: $navbar-font-size;
    font-weight: $navbar-font-weight;
    text-transform: $navbar-text-transform;

    em {
        font-style: normal;
    }

    .m-navbar--logo {
        .mm-has-svg {
            width: 100%;
            min-height: $navbar-height;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;

            @include media(C) {
                background-position: 0 50%;
            }
        }
    }

    .m-navbar--menu {
        a {
            display: block;
            height: 100%;
            line-height: $navbar-height;
            //padding: 0 10px;
            margin: 0 10px;

            cursor: pointer;

            color: $navbar-color;
            text-decoration: none;

            &:hover {
                color: $navbar-hover-color;
                background-color: $navbar-hover-bg-color;

                border-bottom: 2px solid $navbar-hover-color;
            }
        }
    }

    .m-navbar--menu,
    .m-navbar--menu-primary {
        @include inline-list(left);
    }

    .m-navbar--menu-secondary,
    .m-navbar--menu-tertiary {
        @include inline-list(right);
    }

    .m-navbar--menu-social {
        a {
            padding: 0;
        }
        em {
            display: none;
        }
    }

    // secondary navbar
    &.mm-secondary {
        font-size: $navbar-secondary-font-size;
        height: $navbar-secondary-height;
        line-height: $navbar-secondary-height;

        border-top: 0;

        .m-navbar--menu {
            height: auto;
            padding: 0;
            border-right: 1px solid $color-secondary;

            > li {
                padding: 0 10px;
            }
            a {
                padding: 0;
                &:hover {
                    color: $navbar-hover-color;
                    background-color: $navbar-hover-bg-color;
                    border-bottom: none;
                }
            }

            &:first-of-type {
                border: none;
                > li {
                    padding-right: 0;
                }
            }

        }

        a {
            font-size: $navbar-secondary-font-size;
            height: $navbar-secondary-height;
            line-height: $navbar-secondary-height;
        }
    }

}

.m-navbar {
    @include transition(all 0.2s);

    &.is-collapsed {
        padding-top: 10px;
        padding-bottom: 10px;
        @include transform(translateY(0px));
        @include transition(all 0.3s);

        .m-navbar--logo {
            .mm-has-svg {
                background-size: auto 32px;
            }
        }
    }

    &.is-hidden {
        @include transform(translateY(-30px));
    }
}

.m-navbar.mm-secondary ~ .m-navbar {
    border-top: none;
}
