.m-mega {

    position: absolute;
    z-index: 900;
    left: 0;
    width: 100%;
    height: auto;
    background-color: $color-secondary;

    display: none;

    &.is-open {
        display: block;
    }

    .m-mega--container {
        position: relative;
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .m-mega--tab {
        @include l-grid();
        @include cf();

        display: none;

        &.is-active {
            display: block;
        }

    }

    .m-mega--close {
        cursor: pointer;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 48px;
        height: 48px;
        text-align: center;
        line-height: 48px;

        &:hover {
            color: $primary-color;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li,
        li a {
            font-size: rem-calc(15);
            line-height: 1.2em;
            color: $color-body-font;

            text-decoration: none;
        }

        a {
            display: block;
            padding: 5px 0;
            &:hover {
                color: $primary-color;
                text-decoration: underline;
            }
        }
    }

    .m-mega--hed {
        color: $color-black;
        font-size: rem-calc(28);
        font-weight: 800;
        line-height: 38px;
        margin-bottom: 30px;
    }

    .m-mega--label {
        width: 100%;

        font-size: rem-calc(16);
        color: $color-body-font;
        font-weight: 800;
        display: inline-block;
        vertical-align: bottom;
        height: 38px;
        padding-top: 14px;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .m-mega--description {
        font-size: rem-calc(20);
        font-weight: 200;
    }

    .m-mega--section {

        border-left: 1px solid white ;
        padding-left: 20px;

        &:first-of-type {
            border: none;
            padding-left:0;
        }

        &.l-single {
            @include column(2/12);
        }

        &.l-double {
            @include column(4/12);
            @include cf();

            .m-mega--label {

            }

            ul {
                width: 50%;
                float: left;
            }
            ul + ul {
                padding-left: 20px;
            }

        }
    }

}
