.m-story--header {
    @include cf();
}

.m-story--header-content {
    height: 100%;
}

.m-story--hed,
.m-story--summary {
    @include column(1, $gut: 60px);
}

.m-story--hed {
    @include tk-nexa-book();
    font-size: rem-calc(36);
    line-height: 1.2em;
}

.m-story--summary {
    @include tk-nexa-book();
    font-size: rem-calc(18);
    line-height: 1.2em;
}

@include media(C) {
    .m-story--hed {
        font-size: rem-calc(50);
        line-height: 1.1em;
    }

    .m-story--summary {
        font-size: rem-calc(20);
        line-height: 1.1em;
    }
}

@include media(D) {
    .m-story--hed {
        font-size: rem-calc(60);
        line-height: 1.1em;
    }

    .m-story--summary {
        font-size: rem-calc(20);
        line-height: 1.1em;
    }
}

&.mm-feature {
    article {
        .m-story--header {

            position: absolute;
            height: $feature-height - $feature-content-height;
            width: 100%;
            left: 0;
            top: $feature-content-height;
            padding-bottom: 40px;

            .m-story--header-content {
                @include l-grid();
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }

            .m-story--hed,
            .m-story--summary {
                color: white;
            }
        }
    }
}

.l-detail-page {

    .m-section--footer {
        margin-top: 50px;
    }

    .m-story {

        //layout

        & > header {
            @include l-grid();
            position: relative;
        }

        .m-story--image {
            display: none;
        }

        .m-story--summary {
            @include cf();
            position: relative;
        }

        .m-story--hed {
            @include column(6/12);
            @include move(3/12)
        }

        .m-story--meta {
            @include column(2.5/12);
            @include move(0.5/12);

            position: absolute;
            top: 100%;
        }

        .m-story--description {
            display: none;
        }

        .m-story--content {
            @include l-grid();

            .m-body--content {
                @include column(5/12);
                @include offset(3/12);
            }

        }

        aside {
            clear: both;
            margin: 0 auto;
        }

        // styles

        .m-story--image {
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;

            img {
                display: none;
            }
        }

        .m-story--hed {
            font-size: rem-calc(42);
            line-height: 1.3em;
            font-weight: 400;
            margin-top: -.2em;

            a {
                text-decoration: none;
                pointer-events: none;
                color: $color-black;
            }
        }

        .m-story--meta {
            text-align: right;
            dt {
                display: none;
            }
        }

    }

}
