// basic template for content body

$content-column-width: 620px;
$content-column-width_D: 700px;
$aside-column-width: 300px;

.m-body--content {
    // centered column
    &.layout-onecol {
        margin-left: $gutter / 2;
        margin-right: $gutter / 2;
        .m-body--copy {
            @include media(C) {
                width: $content-column-width;
                margin-left: auto;
                margin-right: auto;
                float: none;
            }
            @include media(D) {
                width: $content-column-width_D;
            }
        }

        // mode has no aside column
        aside {
            display: none;
        }

    }

    // cenered full widht column
    &.layout-onecol-full {
        margin-left: $gutter / 2;
        margin-right: $gutter / 2;

        .m-body--copy {

            @include media(C) {

                float: none;
            }
        }

        // mode has no aside column
        aside {
            display: none;
        }

    }

    // two columns mode - content on the left + aside
    &.layout-twocol {
        .m-body--copy {
            margin-left: $gutter / 2;
            margin-right: $gutter / 2;

            @include media(C) {
                @include column(8/12);
            }
        }
        aside {
            @include column(1);
            @include media(C) {
                @include column(4/12);
            }
        }

    }
}

.m-body--copy {
    @include font-body();


    color: $color-body-font;
    $fontBase: 18px;
    font-size: rem-calc($fontBase * 1);


    h1, h2, h3, h4, h5, h6 {
        line-height: 1.3em;
        margin-top: 2em;
        margin-bottom: 1em;
        //color: darken($color-body-font, 30%);
    }

    h1, h2, h3, h4, h5, h6 {
        @include font-headline-secondary();
        letter-spacing: -0.02em;
    }

    h1 {
        //@include font-headline();
        font-size: rem-calc($fontBase * 2);
    }

    h2 {
        font-size: rem-calc($fontBase * 1.8);
    }

    h3 {
        font-size: rem-calc($fontBase * 1.5);
        font-weight: 600;
    }
    h4 {
        font-size: rem-calc($fontBase * 1.5);
        font-weight: 400;
    }
    h5 {
        font-size: rem-calc($fontBase * 1.2);
        font-weight: 600;
        margin-bottom: 1em;

        display: inline-block;
        //@include customUnderline();
    }
    h6 {
        font-size: rem-calc($fontBase * 1.1);
        font-weight: 400;
        margin-bottom: 1em;
        display: inline-block;
        //@include customUnderline();
    }

    p, ul, ol, blockquote, figure {
        margin-top: 0;
        margin-bottom: 2em;
        line-height: 1.6em;
    }

    p {

    }

    // compensate lineheight
    > p:first-of-type {
        margin-top: -.45em;
    }

    p:first-of-type {
        span {
            @include font-subhed();
            text-transform: uppercase;
        }
    }

    ul {
        li {
        }
    }

    a {
        color: $color-primary;
        &:hover {
            color: $color-secondary;
        }
    }

    img,
    iframe {
        width: 100%;
    }

    blockquote {
        margin: 0;
        margin-bottom: 20px;
        padding: 20px 0;
        border-top: 1px solid lighten($color-body-font, 30%);
        border-bottom: 1px solid lighten($color-body-font, 30%);

        @include font-body();

        font-style: italic;
        font-size: rem-calc($fontBase * .96);
        line-height: 1.6em;
        color: lighten($color-body-font, 30%);



        .author {
            @include font-subhed();
            display: block;
            margin-top: 10px;

            font-size: rem-calc($fontBase * .8);
            font-weight: 600;
            color: $color-body-font;
            text-align: right;
        }

        &.mm-center {
            text-align: center;
            padding-left: 10%;
            padding-right: 10%;
            .author {
                text-align: center;
            }
        }

    }



    figure { //:not(.m-layout-object) {
        margin-left: 0;
        margin-right: 0;
    }

    figcaption {
        @include font-meta();
        font-size: rem-calc($fontBase * .7);
        line-height: 1.5em;
        padding-top: 10px;

        font-weight: normal;

        strong {
            color: black;
        }
    }

    // tweaks



}
