@mixin m-card() {

    article,
    header {
        position: relative;
    }

    a {
        color: $color-black;
        text-decoration: none;
        &:hover {
            color: $primary-color;
            text-decoration: underline;
        }
    }

    p {
        margin: 0;
    }

    .m-item--hed {
        font-size: rem-calc(18);
    }

    .m-item--description {
        font-size: rem-calc(14);
    }

    .m-item--image {
        img {
            width: 100%;
            height: auto;
        }
    }

}

@mixin m-card-image {
    @include m-card();

    height: 240px;
    overflow: hidden;

    article,
    header {
        height: 100%;
    }

    .m-item--image {
        position: absolute;
        top: 0;
        bottom: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;

        a {
            display: block;
            width: 100%;
            height: 100%;

            &:before {
                position: absolute;
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background-color: transparent;
                opacity: 0.2;
            }

        }
    }

    .m-item--hed {
        position: absolute;
        bottom: 20px;
        left: 25px;
        color: white;
        text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
        a {
            color: white;
        }
    }

    .m-item--description {
        display: none;
        pointer-events: none;
    }

    .m-card--more {
        position: absolute;
        top: 20px;
        left: 30px;
        color: white;
    }

}

.m-card_standard {
    @include m-card();
}

.m-card_image {
    @include m-card-image();

    @each $colorName, $colorValue in $pallete {
        &.mm-color-#{$colorName} {
            .m-item--image {
                a {
                    border-top: 4px solid transparent;
                    border-top-color: $colorValue; //pallete(1);
                    &:before {
                        background-color: $colorValue; //pallete(1);
                        opacity: .4;
                    }
                }

            }
        }
    }

    &:hover {
        .m-item--image a:before {
            opacity: 0.8;
        }

        .m-item--description {
            position: absolute;
            display: block;
            padding: 30px;
            color: white;
        }

        .m-card--more {
            display: none;
        }
    }

}

.m-card_thumb {
    @include m-card-image();

    .m-card--more {
        display: none;
    }

    .m-item--image {

        img {
            display: none;
        }

        a {
            height: 100%;
            width: 100%;
            display: inline-block;
        }
        &:before {
            display: block;
            position: absolute;
            z-index: 0;
            content: "";
            background-color: black;
            opacity: .6;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .m-item--description {
        display: none;
    }

    .m-item--hed {
        text-align: center;
        left: 0;
        @include vertical-align();
        z-index: 10;
        margin: 0;
    }

    &.mm-has-hover {
        &:hover {
            .m-item--image:before {
                opacity: 0;
            }

        }
    }

    @each $colorName, $colorValue in $pallete {
        &.mm-color-#{$colorName} {
            .m-item--image {
                &:before {
                    background-color: $colorValue; //pallete(1);
                }
            }
        }
    }

}

.m-card_reference {
    @include m-card();

    height: 240px;
    overflow: hidden;

    article,
    header {
        height: 100%;
        position: relative;
    }

    .m-item--image {

        background-position: 50% 50%;

        img {
            visibility: hidden;
            pointer-events: none;
        }

    }
    .m-item--summary {
        position: absolute;
        bottom: 20px;
        left: 25px;
        width: 300px;
        height: auto;
        background-color: transparentize($color-white, 0.4);
        padding: 20px;
        //padding-top: 10px;
        color: $color-body-font;
    }

    .m-item--hed {
        margin: 0;
        margin-bottom: 30px;

        text-transform: uppercase;
        a {
            color: $color-body-font;
        }
    }

    .m-item--description {
        pointer-events: none;
        font-weight: 400;
        color: $color-black;
    }

    .m-card--more {
        display: none;
    }

}

.m-card_certificate {
    @include m-card();

    article {
        text-align: center;
    }

    .m-item--image {
        width: 130px;
        height: 130px;
        overflow: hidden;
        margin: 0 auto;

        margin-bottom: 30px;
    }

    .m-item--hed {
        margin-bottom: 15px;
    }

}

.m-card_faq {
    @include m-card();
    background-color: $color-secondary;

    article,
    header {
        height: 140px;
        width: 100%;
        position: relative;
        //cursor: pointer;
    }

    .m-item--hed {
        position: relative;
        height: 100%;
    }

    .m-item--hed a {
        @include vertical-align();
        padding: 20px;
        position: absolute;
        height: 100%;
        font-size: rem-calc(16);
        font-weight: 600;
        color: $color-black;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    .m-item--description {
        padding: 30px;
        display: none;
        position: absolute;
        width: 100%;
        height: 140px;
    }

    &:hover {
        background-color: $color-primary;
        .m-item--description {
            // display: block;
        }
        .m-item--hed {
            //display: none;
        }
    }
}


