@mixin m-section-base() {
    border: 2px solid gray;
    padding: 50px 0;
    height: auto;
    position: relative;

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 0;
    }

}

.m-section--header,
.m-section--footer {

    @include cf();

    text-transform: uppercase;
    font-weight: 800;

    a {
        text-decoration: none;
        color: $color-black;

        &:hover {
            color: $color-primary;
            text-decoration: underline;
        }
    }
}

.m-section--header {
    margin-bottom: 50px;
}

.m-section--footer {
    //margin-top: 50px;
    //background-color: palegreen;
}

.m-section--top {
}

.m-section--more {
    text-align: right;
}

// base section hed style
.m-section--hed {
    font-size: rem-calc(30);
    text-transform: uppercase;
    line-height: 1.2em;
    font-weight: 800;

    &.mm-small {
        font-size: rem-calc(16);
    }
    &.mm-medium {
        font-size: rem-calc(36);
    }

    &.mm-big {
        font-size: rem-calc(50);
    }

    &.mm-tiny {
        font-weight: 200;
    }

    &.mm-center {
        text-align: center;
    }

}

// base section underlay
.m-section--underlay {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: auto;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;

}

// base section module style
.m-section {
    @include m-section-base();
}

.m-section_vertical-tabs {
    position: relative;
    background-color: $primary-color;

    padding-top: 0;
    padding-bottom: 0;

    //height: 500px;
    overflow: hidden;

    .m-section--container {
        height: 100%;
        position: relative;
    }

    .m-section--header {

        @include column(1, $gut: 0);
        overflow: hidden;
        margin-bottom: 0;

        @include media(C) {
            @include column(4/12, $gut: 0);
            height: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        color: white;

    }

    .m-section--nav {

        position: relative;

        @include column(1);
        height: auto;
        display: block;

        @include media(C) {
            @include column(2/12, $gut: 0);
            margin: 0;
            height: 100%;
            padding-top: 50px;
            padding-bottom: 50px;

        }

        ul {
            height: 100%;
            margin: 0;
            padding: 0;
            list-style-type: none;
            @include cf();

            li {
                width: (100 / 6) * 1%;
                float: left;
                display: table;
                a {

                    display: table-cell;
                    vertical-align: middle;
                    color: white;
                    font-weight: 600;
                    text-decoration: none;
                    height: 64px;
                }

                &.active {
                    a {
                        font-weight: 800;
                    }
                    &:after {
                        display: block;
                        width: 64px;
                        height: 64px;
                        background-color: $primary-color;
                        color: white;
                        text-align: center;
                        position: absolute;
                        top: 0;
                        right: -64px;
                        z-index: 100;

                        font: normal normal normal 14px/62px FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        transform: translate(0, 0);
                        content: "\f061";
                    }
                }
            }

            @include media(C) {

                li {
                    overflow: visible;
                    float: none;
                    width: 100%;
                    margin: 0;
                    padding: 0;

                    position: relative;
                    a {

                        color: white;
                        font-weight: 600;
                        text-decoration: none;
                        margin: 0;
                        padding: 0;
                        padding-right: 10px;

                    }

                    &.active {
                        a {
                            font-weight: 800;
                        }
                        &:after {

                        }
                    }

                }
            }

        }
    }

    .m-section--carousel {

        @include cf();
        width: 100%;
        height: 300px;

        .slide {
            width: 100%;
            height: 300px;
            background: $secondary-color;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &.slick-slider {
            margin-bottom: 0;
        }

        @include media(C) {
            height: 500px;

            overflow: hidden;
            position: absolute;

            margin: auto;

            left: 50%;
            width: 50%;
            right: 0;
            top: 0;
            bottom: 0;

            .slide {
                height: 500px;
            }
        }
    }
}

.m-section_support {

    background-image: url("/assets/images/montaznik-support-background.jpg");
    background-size: auto 422px;
    background-repeat: repeat-x;
    background-position: 0 0;

    background-color: #f5f5f5;

    @include media(C) {
        height: 422px;
    }

    &.m-section {
        padding: 0;
    }

    .m-item--hed {
        margin-bottom: 30px;
        line-height: 1.2em;
    }

    .m-item--description {
        margin-bottom: 30px;
    }

    .m-section--item {
        overflow: hidden;
        padding-top: 70px;


        &:nth-of-type(1) {
            @include column(1);
        }

        &:nth-of-type(2) {
            display: none;
        }

        &:nth-of-type(3) {
            @include column(1);
        }

        @include media(B) {

            &:nth-of-type(1) {
                @include column(6/12);
                padding-top: 70px;
            }

            &:nth-of-type(2) {
                @include column(3/12);
                @include move(1/12);
                padding: 0;
                display: block;

            }
            &:nth-of-type(3) {
                @include column(7/12);
                padding-top: 100px;
                padding-bottom: 40px;
            }
        }

        @include media(C) {

            &:nth-of-type(1) {
                padding-top: 80px;
                @include column(3/12);
                @include offset(1/12);
            }

            &:nth-of-type(2) {
                @include column(2/12);
                @include move(0);
            }

            &:nth-of-type(3) {
                padding-top: 80px;
                @include column(5/12);
                //@include move(3/12);
            }
        }

        &.worker {
            img {
                height: 374px;
                width: auto;
            }
        }

    }

    .input-group {
        @include container();

        .prefix {
            @include column(1/6, $gut: 0);
            display: none;
        }
        input {
            @include column(5/6, $gut: 0);
        }
        .postfix {
            @include column(1/6, $gut: 0);
        }

    }

}

