
.m-filter {
    margin-bottom: 30px;


    .l-left,
    .l-right {
    }

    .active-result {
        font-weight: 400;
    }

    .category {
        font-weight: 800;
    }

    .l-left {
        @include column(9/12);
        .m-filter--items {
            @include inline-list(left);
            overflow: visible;
        }
    }
    .l-right {
        @include column(3/12);
        .m-filter--items {
            @include inline-list(right);
            overflow: visible;

        }
    }

    .m-filter--items {

        > li {
            width: 120px;
            color: $color-black;
            height: 48px;
            display: block;

            &.label {
                padding: 0 14px;
                color: $color-secondary;
                background-color: white;
                height: 48px;
                margin-right: 1px;
                line-height: 42px;
                width: auto;
            }
        }
    }

}

// chosen override

.chosen-container {
    width: calc(100%-1px);
}

.chosen-container-single {

    .chosen-single {
        height: 48px;
        padding: 10px;
        font-size: rem-calc(15);

    }

    .chosen-single,
    .chosen-drop {
        border: 0 !important;
        border-radius: 0;
        background: white;
        box-shadow: none;
        font-weight: 600;
    }

    .chosen-with-drop {
        .chosen-single,
        .chosen-drop {
            border: 0 !important;
            background: white;
        box-shadow: none;
        }
    }
}

.chosen-container-active.chosen-with-drop {
    .chosen-single {
        background: white;
        box-shadow: none;
    }
}

.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
   background-position: 0 14px !important;
}
