// basic template for content body

$content-column-width: 620px;
$content-column-width_D: 700px;
$aside-column-width: 300px;

.m-body--content {
    // centered column
    &.layout-onecol {
            margin-left: $gutter / 2;
            margin-right: $gutter / 2;
        .m-body--copy {
            @include media(C) {
                width: $content-column-width;
                margin-left: auto;
                margin-right: auto;
                float: none;
            }
            @include media(D) {
                width: $content-column-width_D;
            }
        }

        // mode has no aside column
        aside {
            display: none;
        }

    }

    // cenered full widht column
    &.layout-onecol-full {
        margin-left: $gutter / 2;
        margin-right: $gutter / 2;

        .m-body--copy {

            @include media(C) {

                float: none;
            }
        }

        // mode has no aside column
        aside {
            display: none;
        }

    }

    // two columns mode - content on the left + aside
    &.layout-twocol {
        .m-body--copy {
            margin-left: $gutter / 2;
            margin-right: $gutter / 2;

            @include media(C) {
                @include column(8/12);
            }
        }
        aside {
            @include column(1);
            @include media(C) {
                @include column(4/12);
            }
        }

    }
}

.m-body--copy {
    @include font-body();

    font-size: rem-calc(18);
    @include media(D) {
        font-size: rem-calc(19);
    }



    h1, h2, h3, h4, h5, h6 {
        //margin-bottom: 2em;
        line-height: 1.2em;
        margin-bottom: 1.6em;
        @include font-headline();
        color: darken($body-font-color, 30%);
    }

    h1 {
        font-size: rem-calc(48);
        font-weight: 200;
        color: red;
    }

    h2 {
        font-size: rem-calc(30);
    }
    h3 {
        font-size: rem-calc(26);
        font-weight: 600;
    }
    h4 {
        font-size: rem-calc(26);
        font-weight: 400;
        margin-bottom: 1em;
    }
    h5 {
        font-size: rem-calc(20);
        font-weight: 400;
        margin-bottom: 1em;
    }
    h6 {
        font-size: rem-calc(18);
        font-weight: 200;
        margin-bottom: 1em;
    }

    p, ul, ol, blockquote, figure {
        margin-bottom: 2em;
    }

    ul {
        li {
        }
    }

    a {
        color: $primary-color;
        &:hover {
            color: $secondary-color;
        }
    }

    img,
    iframe {
        width: 100%;
    }

    blockquote {
        margin: 0;
        padding: 20px 0;
        border-top: 1px solid lighten($body-font-color, 30%);
        border-bottom: 1px solid lighten($body-font-color, 30%);

        font-style: italic;
        font-family: Georgia;
        font-size: rem-calc(19);
        color: lighten($body-font-color, 30%);

        & + blockquote {
            border-top: 0;
        }

        .author {
            display: block;
            margin-top: 10px;
            font-family: $fnt-subhed;
            font-style: normal;
            font-size: rem-calc(15);
            font-weight: 600;
            color: $body-font-color;
            text-align: right;
        }

        &.mm-center {
            text-align: center;
            padding-left: 10%;
            padding-right: 10%;
            .author {
                text-align: center;
            }
        }

    }

    figure:not(.m-layout-object) {
        margin: 0;

    }

    figcaption {
        font-size: rem-calc(12);
        padding-top: 10px;
        font-weight: bold;

        strong {
            color: black;
        }
    }

}
