article {
    header {
        figure {
            margin: 0;
            position: relative;

            figcaption {
                position: absolute;
                bottom: 20px;
                left: 20px;
                padding: 0 20px;
                width: 60%;

                color: $body-font-color;
                background-color: rgba($color-white, 0.9);

                font-size: rem-calc(12);

                @include media(C) {
                    width: 30%;
                    font-size: rem-calc(14);
                }
            }
        }
    }
}


.m-basic-page {

    position: relative;

    .m-basic-page--header {
    }

    .m-body--content {
        @include column(12/12);

        @include media(C) {
            @include column(6/12);
            @include move(2/12);
        }
    }

    aside {
        @include column(4/12);
        //@include move(3/12);

        @include media(C) {
            @include column(3/12);
            @include move(3/12);
        }
    }

    .m-basic-page--content {
        @include cf();
        padding-top: $space;
        padding-bottom: $space;
    }

    .m-basic-page--hed {
        margin-top: 0;
        margin-bottom: $space * 0.5;
        font-size: rem-calc(26);

        @include media(C) {
            font-size: rem-calc(40);
            margin-bottom: $space;

        }
    }

    .m-basic-page--image {
        background-position: center;
        background-size: cover;
        img {
            visibility: hidden;
        }
    }

}

