.m-gallery {
    @include row();
    .m-gallery-item {
        @include column (2/6);
        margin-bottom: 30px;
    }

}

.m-gallery-item {

    .m-gallery-item--image {
        width: 100%;
        height: 100%;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        overflow: hidden;
        position: relative;

        img {
            visibility: hidden;
            pointer-events: none;
        }

        &:after {
            display: block;
            content: " ";
            position: absolute;
            background-color: black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            opacity: 0;
        }
    }

    .m-gallery-item--summary {
        display: none;
    }


    &:hover {
        .m-gallery-item--image {
            &:after {
                opacity: .2;
            }
        }
    }
}
