
.m-filter {

    height: 48px;
    overflow: hidden;
    margin-bottom: 30px;

    .m-filter--items {

        li {
            width: auto;
            line-height: 48px;
            height: 48px;
            overflow: hidden;
            background-color: $color-white;
            color: $color-black;
            font-weight: 800;

            &.label {
                background-color: white;
                padding: 0 20px;
                height: 46px;
                color: $color-secondary;
            }
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            border: none;
            outline: 0;
            display: block;
            padding-left: 20px;
            padding-right: 20px;
            height: 50px;
            margin: 0;

            border-radius: 0;
            outline: none;


        }
    }

    .l-left,
    .l-right {
    }

    .l-left {
        @include column(9/12);
        .m-filter--items {
            @include inline-list(left, 2px);

        }
    }
    .l-right {
        @include column(3/12);
        .m-filter--items {
            @include inline-list(right, 2px);

        }
    }


}
