
.m-filter {
    margin-bottom: 30px;
    .m-filter--items {

        li {
            width: auto;
            line-height: 48px;
            color: $color-black;

            &.label {
                padding: 0 20px;
                color: $color-secondary;
            }
        }
    }

    .l-left,
    .l-right {
    }

    .active-result {
        font-weight: 400;
    }

    .category {
        font-weight: 800;
    }

    .l-left {
        @include column(9/12);
        .m-filter--items {
            @include inline-list(left, 2px);
            overflow: visible;
        }
    }
    .l-right {
        @include column(3/12);
        .m-filter--items {
            @include inline-list(right, 2px);
            overflow: visible;

        }
    }


}
