$footer-copyright-height: 64px !default;

// module inner base layout

.m-footer {

    height: 100%;
    width: 100%;
    @include l-grid();

    .m-footer--container {
    }

    .m-footer--section {
        border: 1px solid black;
    }

    .m-footer--copyright {
        height: $footer-copyright-height;
        border: 1px solid red;
        display: flex;
    }

    .m-footer--menu-primary,
    .m-footer--menu-secondary {
        border: 1px solid blue;
    }
    .m-footer--logo {
    }

}

// module default style

.m-footer {

    .m-footer--menu-primary {
        @include inline-list(left, 30px);
    }
    .m-footer--menu-secondary {
        @include inline-list(right, 30px);
    }
    .m-footer--logo {
        text-align: center;
    }
}
