@mixin m-card() {

    position: relative;

    article,
    header {
        position: relative;
    }

    a {
        color: $color-black;
        text-decoration: none;
        &:hover {
            color: $primary-color;
            text-decoration: underline;
        }
    }

    p {
        margin: 0;
    }

    .m-item--hed {
        font-family: $font-family-headline;
        font-size: rem-calc(18);
    }

    .m-item--description {
        font-size: rem-calc(14);
    }

    .m-item--image {
        img {
            width: 100%;
            height: auto;
            display: none;
        }
    }

    .m-item--more {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }

}

@mixin m-card-image {
    @include m-card();

    overflow: hidden;


    height: 300px;

    &.mm-auto {
        height: 100% !important;
    }

    &.mm-tall {
        height: 350px;

        @include media(D) {
            height: 600px;
        }
    }
    &.mm-low {
        height: 200px;
    }

    article,
    header {
        height: 100%;
    }

    .m-item--image {
        position: absolute;
        top: 0;
        bottom: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;

        a {
            display: block;
            width: 100%;
            height: 100%;

            &:before {
                position: absolute;
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background-color: transparent;
                opacity: 0.2;
            }

        }

        img {
            display: none;
        }

    }
    .m-item--summary {
        height: 100%;
    }
    .m-item--hed {
        position: absolute;
        bottom: 20px;
        left: 25px;
        color: white;
        text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
        a {
            color: white;
        }
    }

    .m-item--description {
        display: none;
        pointer-events: none;
    }

    .m-card--more {
        position: absolute;
        top: 20px;
        left: 30px;
        color: white;
    }

}

.m-card_standard {
    @include m-card();
    background-color: white;
    padding-bottom: 24px;
    position: relative;

    .m-item--image {
        height: 181px;
        overflow: hidden;
    }

    .m-item--hed {
        margin-bottom: 14px;
    }

    .m-item--summary {
        padding: 20px;
        min-height: 120px;

        @include media(C-only) {
            min-height: 220px;
        }
    }
    .m-card--more {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }

    &.mm-promo {
        background-color: transparent;
        .m-item--hed {
            text-align: center;
            margin-bottom: 20px;
        }
        .m-item--summary {
            text-align: center;
            min-height: 80px;
            padding-top: 30px;
            font-size: rem-calc(24px);
        }
        .m-card--more {
            display: none;
        }
        &:hover {
            background-color: white;
        }
    }

}

.m-card_list {
    @include m-card();
    background-color: white;

    .m-item--image {
        height: 60px;
        width: 120px;
        overflow: hidden;
        float: left;
        //margin-right: 30px;

        a {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
    .m-item--hed,
    .m-item--summary {
        margin-left: 160px;
    }

}

.m-card_image {
    @include m-card-image();

    .m-item--image {
        a {
            &:before {
                background-color: $color-primary; //pallete(1);
                opacity: 0;
            }
        }

    }

    @each $colorName, $colorValue in $pallete {
        &.mm-color-#{$colorName} {
            .m-item--image {
                a {
                    border-top: 4px solid transparent;
                    border-top-color: $colorValue; //pallete(1);
                    &:before {
                        background-color: $colorValue; //pallete(1);
                        opacity: .4;
                    }
                }

            }
        }
    }

    &:hover {
        .m-item--image a:before {
            opacity: 0.8;
        }

        .m-item--description {
            position: absolute;
            display: block;
            padding: 30px;
            color: white;
        }

        .m-card--more {
            display: none;
        }
    }

}

.m-card_thumb {
    @include m-card-image();

    .m-card--more {
        display: none;
    }

    .m-item--image {

        img {
            display: none;
        }

        a {
            height: 100%;
            width: 100%;
            display: inline-block;

        }
        &:before {
            display: block;
            position: absolute;
            z-index: 0;
            content: "";
            background-color: black;
            opacity: .6;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .m-item--meta,
    .m-item--description {
        display: none;
    }

    .m-item--hed {
        text-align: center;
        left: 0;
        @include vertical-align();
        z-index: 10;
        margin: 0;
        padding: 10%;
    }

    &.mm-has-hover {
        &:hover {
            .m-item--image:before {
                opacity: 0;
            }

        }
    }

    @each $colorName, $colorValue in $pallete {
        &.mm-color-#{$colorName} {
            .m-item--image {
                &:before {
                    background-color: $colorValue; //pallete(1);
                }
            }
        }
    }
}

.m-card_centered-text {
    background-color: transparent;

    article {
        text-align: center;
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: $space;
    }

    .header {
        margin-bottom: $space * 0.3;
    }

    .m-item--hed {
        font-family: $font-family-headline;
        margin-bottom: $space;
        font-size: rem-calc(30);
        font-weight: 400;

        a {
            color: $body-font-color;
            text-decoration: none;
            &:hover {
                color: $primary-color;
            }
        }
    }
    .m-item--description {
        font-size: rem-calc(16);
        p {
            line-height: 1.4em;
            margin-bottom: 1.4em;
        }

    }

    .m-card--more {
        text-align: center;
    }

    .m-gallery {
        width: 80%;
        margin: 0 auto;
        margin-top: $space;
    }
}

.m-card_nav {
    @include m-card();

    article,
    header,
    .m-item--summary {
        position: relative;
        height: 100%;
    }

    article {
        &:hover {
            .m-item--image a:after {
                font-family: FontAwesome;

                display: block;
                position: absolute;
                content: "";

                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                text-align: center;
                color: white;
                line-height: 53px;
                background-color: rgba(0, 0, 0, .45);
            }

            .m-item--hed a {
                color: $primary-color;
                text-decoration: none;
            }
        }

    }

    .m-item--image {
        width: 70px;
        height: 53px;
        overflow: hidden;
        position: relative;

        a {
            height: 100%;
            width: 100%;
            display: block;
        }

        img {
            width: 100%;
            height: auto;
            display: none;
        }
    }

    .m-item--description,
    .m-item--meta {
        display: none;
    }

    .m-item--hed {
        @include vertical-align();
        font-weight: 400;
        font-size: rem-calc(14);

    }

}


