@mixin basic-page-header($content-type: m-story) {

    .#{$content-type}--header {
        @include cf();
    }

    .#{$content-type}--header-content {
        height: 100%;
    }

    .#{$content-type}--hed,
    .#{$content-type}--summary,
    .#{$content-type}--image {
        @include column(1, $gut: 60px);
    }

    .#{$content-type}--hed {
        @include font-headline-secondary();
        font-size: rem-calc(36);
        line-height: 1.2em;
        letter-spacing: -0.02em;
    }

    .#{$content-type}--image {

        display: block;
        margin-top: 40px;
        margin-bottom: 20px;

        &.mm-full {
            .#{$content-type}--image-content {
                width: 100%;

                background-image: none !important;
                img {
                    width: 100%;
                }
            }
        }

        &.mm-wide {

            height: 350px;

            .#{$content-type}--image-content {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                position: absolute;
                width: 100%;
                height: 350px;
                left: 0;
                img {
                    display: none;
                }
            }
            @include media(B) {
                height: 450px;
                .#{$content-type}--image-content {
                    height: 450px;
                }
            }
            @include media(C) {
                height: 600px;
                .#{$content-type}--image-content {
                    height: 600px;
                }
            }
        }
    }

    .#{$content-type}--summary {
        @include font-headline();
        color: #437373;
        font-size: rem-calc(22);
        line-height: 1.2em;
    }

    @include media(C) {
        .#{$content-type}--hed {
            font-size: rem-calc(50);
            line-height: 1.1em;
        }

        .#{$content-type}--summary {
            font-size: rem-calc(20);
            line-height: 1.1em;
        }
    }

    @include media(D) {
        .#{$content-type}--hed {
            font-size: rem-calc(60);
            line-height: 1.1em;
        }

        .#{$content-type}--summary {
            font-size: rem-calc(20);
            line-height: 1.1em;
        }
    }

    &.mm-feature {
        article {
            .#{$content-type}--header {

                position: absolute;
                height: $feature-height_mobile - $feature-content-height_mobile;
                width: 100%;
                left: 0;
                top: $feature-content-height_mobile;
                padding-bottom: 40px;

                .#{$content-type}--header-content {
                    @include l-grid();
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                }

                .#{$content-type}--hed,
                .#{$content-type}--summary {
                    color: white;
                }

                .#{$content-type}--image {
                    display: none;
                }

                @include media(C) {
                    height: $feature-height - $feature-content-height;
                    top: $feature-content-height;
                }

            }
        }
    }

}

@mixin hub-page-header($content-type: m-hub) {

    .#{$content-type}--header {
        @include cf();
        margin-bottom: 30px;

    }

    .#{$content-type}--header-content {
        height: 100%;
    }

    .#{$content-type}--hed,
    .#{$content-type}--summary {
        @include column(1, $gut: 60px);
    }

    .#{$content-type}--hed {
        @include font-headline();
        font-size: rem-calc(36);
        line-height: 1.2em;
        margin-bottom: 0;
        margin-top: 0;

        // fix optical left alignment
    }

    .#{$content-type}--summary {
        @include font-headline-secondary();
        font-size: rem-calc(18);
        line-height: 1.2em;
    }

    @include media(C) {
        .#{$content-type}--hed {
            font-size: rem-calc(50);
            line-height: 1.1em;
        }

        .#{$content-type}--summary {
            font-size: rem-calc(20);
            line-height: 1.1em;
        }
    }

    @include media(D) {
        .#{$content-type}--hed {
            font-size: rem-calc(60);
            line-height: 1.1em;
        }

        .#{$content-type}--summary {
            font-size: rem-calc(20);
            line-height: 1.1em;
        }
    }

    &.mm-feature {
        .#{$content-type}--header {

            position: absolute;
            height: $feature-height_mobile - $feature-content-height_mobile;
            width: 100%;
            left: 0;
            top: $feature-content-height_mobile;
            padding-bottom: 40px;

            .#{$content-type}--header-content {
                @include l-grid();
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }

            .#{$content-type}--hed,
            .#{$content-type}--summary {
                color: white;
            }

            .#{$content-type}--image {
                display: none;
            }

            @include media(C) {
                height: $feature-height - $feature-content-height;
                top: $feature-content-height;
            }

        }
    }

}
