{% extends "_base.twig" %}

{% block body %}
    <div class="row">
        {#{% include "subtemplates/base-body-copy.twig" with { 'class': 'layout-onecol'} %}#}
        {% include "subtemplates/base-body-copy.twig" with { 'class': 'layout-onecol-full'} %}
        {#{% include "subtemplates/base-body-copy.twig" with { 'class': 'layout-twocol'} %}#}
    </div>

    {# <div class="row">
         {% include "subtemplates/base-properties.twig" %}
     </div>#}

    {# <div class="row">
         {% include "subtemplates/base-filter.twig" %}
     </div>#}


    {#{% include "subtemplates/base-section.twig" %}#}
    {# feeds #}

    {#<div class="row">#}
        {#{% include "subtemplates/base-feed.twig" %}#}
        {#{% include "subtemplates/base-carousel.twig" %}#}
    {#</div>#}

    {#{% include "subtemplates/feed-block-carousel.twig" %}#}


    {#{% include "subtemplates/base-banner.twig" %}#}



    {# navs #}

    {#{% include "subtemplates/module-next-prev.twig" %}#}


    {# panels & tools #}
    {#{% include "subtemplates/hero-tabs.twig" %}#}
    {#{% include "subtemplates/section-vertical-tabs.twig" %}#}
    {#{% include "subtemplates/module-side-panel.twig" %}#}

    {#{% include "subtemplates/module-footer.twig" %}#}

    {{ parent() }}
{% endblock %}


{% block scripts %}{% endblock %}

