{% extends "_base.twig" %}

{% block body %}


    <div class="l-navbar {% if navbar.isSticky %}is-sticky{% endif %}">
        {% include "subtemplates/module-navbar-secondary.twig" %}
        {% include "subtemplates/module-navbar.twig" %}
    </div>

    <div class="m-section l-detail-page">

        <div class="row">
            <header class="m-section--header">
                <div class="l-full">

                    <nav class="breadcrumbs">
                        <a href="#">Home</a>
                        <a href="#">Features</a>
                        <a class="unavailable" href="#">Gene Splicing</a>
                        <a class="current" href="#">Cloning</a>
                    </nav>

                </div>
            </header>
        </div>

        {% include "subtemplates/content-story.twig" %}

        <div class="row">
            <footer class="m-section--footer">
                <div class="l-half">
                    <div class="m-section--top"><a href="">Nahoru <i class="fa fa-arrow-up"></i></a></div>
                </div>
                <div class="l-half">
                    <ul class="m-section--nav inline-right">
                        <li><a href="" title="">E-Bulletin</a></li>
                        <li><a href="" title="">Projekty</a></li>
                        <li><a href="" title="">Novinky</a></li>
                        <li><a href="" title="Koma Zpravodaj">Koma Zpravodaj</a></li>
                    </ul>
                </div>
            </footer>
        </div>

    </div>


    {% include "subtemplates/feed-six_certifikace.twig" %}
    {% include "subtemplates/module-support.twig" %}
    {% include "subtemplates/module-footer.twig" %}
    {% include "subtemplates/module-page-scroll.twig" %}

    {{ parent() }}

{% endblock %}

{% block scripts %}

    <script>

        // slick controll
        $(function () {

            //
            $('[slick]').each(function () {
                var SlickWrapper = $(this);
                var carousel = SlickWrapper.find('[carousel]');
                var oldActive = null;
                var nav = SlickWrapper.find('[carouselnav]');

                if (carousel) {
                    carousel.slick({
                        dots: false,
                        infinite: true,
                        //fade: true,
                        //cssEase: 'linear',
                        draggable: false,
                        speed: 300,
                        slidesToShow: 1,
                        adaptiveHeight: true
                    })
                }

                if (nav) {
                    console.log("nav");
                    var count = 0;
                    var items = nav.find('[slick-to]');
                    for (var i = 0; i < items.length; i++) {
                        var item = $(items[i]);

                        if (nav.attr("slick-method") == "mouseenter") {
                            item.mouseenter(function (e) {

                                if (oldActive) {
                                    oldActive.removeClass("active");
                                }

                                e.preventDefault();
                                carousel.slick('slickGoTo', $(this).attr('slick-to'));
                                $(this).addClass("active");
                                oldActive = $(this);
                            });
                        } else {
                            item.click(function (e) {

                                if (oldActive) {
                                    oldActive.removeClass("active");
                                }

                                e.preventDefault();
                                carousel.slick('slickGoTo', $(this).attr('slick-to'));
                                $(this).addClass("active");
                                oldActive = $(this);
                            });
                        }


                    }
                }

            });

        });


        // block feed JS

        var blogSlick = $('.block-feed-slider').slick({
            dots: false,
            infinite: true,
            speed: 300,
            slidesToShow: 2,
            slidesToScroll: 2,
            adaptiveHeight: true,
            responsive: [
                {
                    breakpoint: 960,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });

        // full size carousel

        var blogSlick = $('.full-carousel').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            slidesToScroll: 1,
            adaptiveHeight: true
        });

    </script>
{% endblock %}

