{% extends "_base.twig" %}

{% block body %}
    <section class="m-hub">

        <article>
            <div class="row">
                <header class="m-hub--header">
                    <div class="m-hub--header-content">
                        <h1 class="m-hub--hed">HUB</h1>

                        {#<div class="m-hub--summary">Material Design shadows perform an important function in notation structure Material Design shadows perform an important function in notation structureMaterial Design shadows perform an important function in notation structureMaterial Design shadows perform an important function in notation structureMaterial Design shadows perform an important function in notation structure</div>#}
                    </div>
                </header>
            </div>
        </article>

        <div class="row">
            {% include "subtemplates/base-feed.twig" %}
        </div>


    </section>

    {{ parent() }}
{% endblock %}


{% block scripts %}{% endblock %}

