{% extends "_base.twig" %}

{% block body %}
    <div class="row">
        {% include "subtemplates/base-feed.twig" %}
    </div>

    {{ parent() }}

{% endblock %}

{% block scripts %}


{% endblock %}

