{% extends "_base.twig" %}

{% block body %}


    <div class="l-navbar {% if navbar.isSticky %}is-sticky{% endif %}">
        {% include "subtemplates/module-navbar-secondary.twig" %}
        {% include "subtemplates/module-navbar.twig" %}
    </div>

    {#{% include "subtemplates/hero-tabs.twig" %}#}
    {#{% include "subtemplates/feed-carousel.twig" %}#}
    {#{% include "subtemplates/section-side-triple.twig" %}#}
    {#{% include "subtemplates/feed-block-carousel.twig" %}#}
    {% include "subtemplates/feed-card-triple.twig" %}
    {% include "subtemplates/feed-three_faq.twig" %}
    {% include "subtemplates/feed-three_obory.twig" %}
    {% include "subtemplates/feed-six_certifikace.twig" %}
    {% include "subtemplates/section-vertical-tabs.twig" %}
    {% include "subtemplates/module-support.twig" %}


        {% include "subtemplates/module-footer.twig" %}

    {% include "subtemplates/module-page-scroll.twig" %}

    {{ parent() }}

{% endblock %}

{% block scripts %}

    <script>

        $(function () {
            // hero - tabs js
            var homeSlick = $('.hero-slides').slick({
                dots: false,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                adaptiveHeight: true
            });

            var oldSlick = null;

            $("[slickTo]").each(function () {
                $(this).mouseenter(function () {
                    console.log("slick");
                    if (oldSlick) {
                        oldSlick.removeClass("active");
                    }

                    var slide = $(this).attr("slickTo");
                    $(this).addClass("active");
                    $('.hero-slides').slick('slickGoTo', slide);
                    oldSlick = $(this);
                });
            });
        });


        // block feed JS

        var blogSlick = $('.block-feed-slider').slick({
            dots: false,
            infinite: true,
            speed: 300,
            slidesToShow: 2,
            slidesToScroll: 2,
            adaptiveHeight: true,
            responsive: [
                {
                    breakpoint: 960,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });

        // full size carousel

        var blogSlick = $('.full-carousel').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            slidesToScroll: 1,
            adaptiveHeight: true
        });

    </script>
{% endblock %}

