{% extends "_base.twig" %}

{% block body %}


    <div class="l-navbar {% if navbar.isSticky %}is-sticky{% endif %}">
        {% include "subtemplates/module-navbar-secondary.twig" %}
        {% include "subtemplates/module-navbar.twig" %}
    </div>



    {% include "subtemplates/module-next-prev.twig" %}
    {% include "subtemplates/feed-four_reference.twig" %}
    {% include "subtemplates/feed-two_zpravodaj.twig" %}
    {% include "subtemplates/section-side-triple.twig" %}
    {% include "subtemplates/feed-three_obory.twig" %}
    {% include "subtemplates/hero-tabs.twig" %}
    {% include "subtemplates/feed-carousel.twig" %}
    {% include "subtemplates/feed-block-carousel.twig" %}
    {% include "subtemplates/feed-card-triple.twig" %}
    {% include "subtemplates/feed-three_faq.twig" %}
    {% include "subtemplates/feed-six_certifikace.twig" %}
    {% include "subtemplates/section-vertical-tabs.twig" %}
    {% include "subtemplates/module-support.twig" %}

    {% include "subtemplates/module-footer.twig" %}
    {% include "subtemplates/module-page-scroll.twig" %}

    {{ parent() }}

{% endblock %}

{% block scripts %}

    <script>

        // slick controll
        jQuery(function () {

            //
            jQuery('[slick]').each(function () {
                var SlickWrapper = jQuery(this);
                var carousel = SlickWrapper.find('[carousel]');
                var oldActive = null;
                var nav = SlickWrapper.find('[carouselnav]');
                var gotoFirst = false;
                if (carousel) {
                    carousel.slick({
                        dots: false,
                        infinite: true,
                        //fade: true,
                        //cssEase: 'linear',
                        draggable: false,
                        speed: 300,
                        slidesToShow: 1,
                        adaptiveHeight: true
                    });

                    carousel.on("rewind", function () {
                //        carousel.slick('slickGoTo', 0);

                    });

                    carousel.mouseleave(function (e) {
                        //console.log("ven z karuselu");
                  //      jQuery(carousel).trigger("rewind", true);
                    });
                }

                if (nav) {
                    console.log("nav");
                    var count = 0;
                    var items = nav.find('[slick-to]');

                    for (var i = 0; i < items.length; i++) {
                        var item = jQuery(items[i]);

                        if (nav.attr("slick-method") == "mouseenter") {
                            item.mouseenter(function (e) {


                                if (oldActive) {
                                    oldActive.removeClass("active");
                                }

                                e.preventDefault();
                                jQuery(this).addClass("active");
                                carousel.slick('slickGoTo', jQuery(this).attr('slick-to'));
                                oldActive = jQuery(this);
                            });
                        } else {
                            item.click(function (e) {

                                if (oldActive) {
                                    oldActive.removeClass("active");
                                }

                                e.preventDefault();
                                jQuery(this).addClass("active");
                                carousel.slick('slickGoTo', jQuery(this).attr('slick-to'));
                                oldActive = jQuery(this);
                            });
                        }
                    }
                }

            });


            // mega menu

            var lastMegaTab = null;

            jQuery('[mega-open]').each(function () {
                var item = jQuery(this);
                var mega = jQuery("#mega");
                var tabName = item.attr("mega-open");
                var tab = jQuery(tabName);

                item.click(function (e) {
                    e.preventDefault();

                    if (lastMegaTab) {
                        lastMegaTab.removeClass("is-active");
                    }

                    mega.addClass("is-open");
                    tab.addClass("is-active");
                    lastMegaTab = tab;
                });

            });

            jQuery('[mega-close]').each(function () {
                var item = jQuery(this);
                var mega = jQuery("#mega");

                item.click(function (e) {
                    e.preventDefault();
                    if (lastMegaTab) {
                        lastMegaTab.removeClass("is-active");
                    }
                    mega.removeClass("is-open");
                    lastMegaTab.removeClass("is-active");
                });

            });

            // end mega menu

            // resize Navbar

            var navbarPrimary = jQuery('#navbarPrimary');
            var navbarSecondary = jQuery('#navbarSecondary');
            var scrollDriver = jQuery('body');

            var currentTop = function () {
                return scrollDriver.scrollTop();
            }

            jQuery(window).scroll(function () {
                if (currentTop() > 40) {
                    if (!navbarPrimary.hasClass("is-collapsed")) {
                        navbarPrimary.addClass("is-collapsed");
                    }
                    if (!navbarSecondary.hasClass("is-hidden")) {
                        navbarSecondary.addClass("is-hidden");
                    }
                } else {
                    navbarPrimary.removeClass("is-collapsed");
                    navbarSecondary.removeClass("is-hidden");
                }
            });

            // end resize Navbar

        });


        // block feed JS

        var blogSlick = jQuery('.block-feed-slider').slick({
            dots: false,
            infinite: true,
            speed: 300,
            slidesToShow: 2,
            slidesToScroll: 2,
            adaptiveHeight: true,
            responsive: [
                {
                    breakpoint: 960,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });

        // full size carousel

        var blogSlick = jQuery('.full-carousel').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            slidesToScroll: 1,
            adaptiveHeight: true
        });


    </script>

    <script>
        $(".ch-select").chosen({
            width: "95%",
            create_option: true,
            persistent_create_option: true,
            create_option_text: 'add',
            disable_search_threshold: 40,
            //allow_single_deselect: true
        });
    </script>

{% endblock %}

