{% extends "_base.twig" %}

{% block body %}


    <div class="l-navbar {% if navbar.isSticky %}is-sticky{% endif %}">
        {% include "subtemplates/module-navbar-secondary.twig" %}
        {% include "subtemplates/module-navbar.twig" %}
    </div>

    {% include "subtemplates/module-next-prev.twig" %}
    {% include "subtemplates/feed-four_reference.twig" %}
    {% include "subtemplates/feed-two_zpravodaj.twig" %}
    {% include "subtemplates/section-side-triple.twig" %}
    {% include "subtemplates/feed-three_obory.twig" %}
    {% include "subtemplates/hero-tabs.twig" %}
    {% include "subtemplates/feed-carousel.twig" %}
    {% include "subtemplates/feed-block-carousel.twig" %}
    {% include "subtemplates/feed-card-triple.twig" %}
    {% include "subtemplates/feed-three_faq.twig" %}
    {% include "subtemplates/feed-six_certifikace.twig" %}
    {% include "subtemplates/section-vertical-tabs.twig" %}
    {% include "subtemplates/module-support.twig" %}

    {% include "subtemplates/module-footer.twig" %}
    {% include "subtemplates/module-page-scroll.twig" %}

    {{ parent() }}

{% endblock %}

{% block scripts %}


{% endblock %}

