{% extends "_base.twig" %}

{% block body %}
    <div class="row">
        <h1>Web Dev</h1>
        <p>look at <a href="/?tpl=kitchensink" title="kitchnesink">kitchnesink</a></p>
    </div>

    {{ parent() }}

{% endblock %}

{% block scripts %}


{% endblock %}

