{% extends "_base.twig" %}

{% block body %}



   {# <div class="l-navbar {% if navbar.isSticky %}is-sticky{% endif %}">
        {% include "subtemplates/module-navbar-secondary.twig" %}
        {% include "subtemplates/module-navbar.twig" %}
    </div>#}

       {# <div class="row">
            {% include "subtemplates/base-body-copy.twig" %}
        </div>#}

   {# <div class="row">
        {% include "subtemplates/base-properties.twig" %}
    </div>#}

   {# <div class="row">
        {% include "subtemplates/base-filter.twig" %}
    </div>#}


    {% include "subtemplates/base-section.twig" %}
    {# feeds #}

    {% include "subtemplates/feed-block-carousel.twig" %}
    {% include "subtemplates/feed-carousel.twig" %}


    {% include "subtemplates/base-banner.twig" %}



    {# navs #}

    {% include "subtemplates/module-next-prev.twig" %}


    {# panels & tools #}
    {% include "subtemplates/hero-tabs.twig" %}
    {% include "subtemplates/section-vertical-tabs.twig" %}
    {% include "subtemplates/module-side-panel.twig" %}


    {% include "subtemplates/module-footer.twig" %}

    {{ parent() }}


{% endblock %}

{% block scripts %}


{% endblock %}

