{% extends "_base.twig" %}

{% block bodyClasses %}m-admin{% endblock %}

{% block body %}

    <div class="l-navbar {% if navbar.isSticky %}is-sticky{% endif %}">
        {% include "subtemplates/module-navbar-admin.twig" %}
    </div>


    <div class="m-section l-login">
        <div class="m-section--container">

            <div class="row">

                <form action="">
                    <div class="f-row">

                        <fieldset>
                            <legend>Login</legend>

                            <label>Uživatelské jméno
                                <input type="text" placeholder="Inputs and other form elements go inside...">
                            </label>

                            <label>Heslo
                                <input type="password" placeholder="Inputs and other form elements go inside...">
                            </label>

                            <div>
                                <div class="f-75"><a href="" title="">Zapomněli jste své heslo?</a></div>
                                <div class="f-25 f-right">
                                    <button class="button">Přihlásit</button>
                                </div>
                            </div>


                        </fieldset>
                    </div>
                </form>

            </div>

        </div>

        <div class="row">
            <footer class="m-section--footer">
                <div class="l-half">
                    <div class="m-section--top"><a href="">© KOMA MODULAR 2015</a></div>
                </div>
                <div class="l-half">
                    <div class="m-section--more"><a href="">web design&code OdOka</a></div>
                </div>
            </footer>
        </div>

    </div>




    {{ parent() }}

{% endblock %}

{% block scripts %}


{% endblock %}

