{% extends "_base.twig" %}

{% block body %}

    <div class="dev">

        <section>

            <div class="fig">
                <div class="card">
                    fasdfasf
                </div>
                <div class="card">
                    fasdfasf
                </div>
                <div class="card">
                    fasdfasf
                </div>
            </div>


            <div class="fig">
                <p>fadfasdfasfsa</p>
                <p>fasdfasdfasd</p>...
                <p>fasdfasdfasd</p>...
                <p>fasdfasdfasd</p>...
                <p>fasdfasdfasd</p>...
            </div>

            <div class="fig">
                <div class="card">
                    fasdfasf
                </div>
                <div class="card">
                    fasdfasf
                </div>
            </div>



            <div class="fig">
                <div class="card">
                    fasdfasf
                </div>
                <div class="card">
                    fasdfasf
                </div>
                <div class="card">
                    fasdfasf
                </div>
            </div>


            <div class="fig">
                <p>fadfasdfasfsa</p>
                <p>fasdfasdfasd</p>...
                <p>fasdfasdfasd</p>...
                <p>fasdfasdfasd</p>...
                <p>fasdfasdfasd</p>...
            </div>

            <div class="fig">
                <div class="card">
                    fasdfasf
                </div>
                <div class="card">
                    fasdfasf
                </div>
            </div>



        </section>

    </div>


    {{ parent() }}

{% endblock %}

{% block scripts %}{% endblock %}

